openapi: 3.2.0
info:
  title: MVMNT Users API
  version: 1.0.0
  description: "The MVMNT API enables you to automate freight brokerage workflows by integrating\ndirectly with our Transportation Management System.\n\n## Authentication\n\nOAuth 2.0 client credentials flow. See [Authentication Guide](/getting-started/authentication)\nfor details.\n\n### Token Endpoint\n\n```\nPOST https://api.mvmnt.io/oauth2/token\n```\n\n#### Request\n\n**Headers:**\n```http\nContent-Type: application/x-www-form-urlencoded\n```\n\n**Body Parameters:**\n```\ngrant_type=client_credentials\nclient_id=YOUR_CLIENT_ID\nclient_secret=YOUR_CLIENT_SECRET\n```\n\n#### Example Request\n\n```bash\ncurl -X POST https://api.mvmnt.io/oauth2/token \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d \"grant_type=client_credentials\" \\\n  -d \"client_id=YOUR_CLIENT_ID\" \\\n  -d \"client_secret=YOUR_CLIENT_SECRET\"\n```\n\n#### Success Response\n\n**Status:** `200 OK`\n\n```json\n{\n  \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\",\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 3600\n}\n```\n\n**Response Fields:**\n- `access_token`: JWT Bearer token to use for API requests\n- `token_type`: Always `Bearer`\n- `expires_in`: Token lifetime in seconds (3600 = 1 hour)\n"
  contact:
    name: MVMNT Support
    email: support@mvmnt.io
    url: https://docs.mvmnt.io
  license:
    name: Proprietary
    url: https://mvmnt.io/legal/terms
  x-parsed-md-description:
    result:
    - $$mdtype: Node
      errors: []
      lines:
      - 0
      - 2
      inline: false
      attributes: {}
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 0
        - 2
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes:
            content: The MVMNT API enables you to automate freight brokerage workflows by integrating
          children: []
          type: text
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes: {}
          children: []
          type: softbreak
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes:
            content: directly with our Transportation Management System.
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: paragraph
      annotations: []
      slots: {}
    - $$mdtype: Node
      errors: []
      lines:
      - 3
      - 4
      inline: false
      attributes:
        level: 2
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 3
        - 4
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 3
          - 4
          inline: true
          attributes:
            content: Authentication
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: heading
      annotations: []
      slots: {}
    - $$mdtype: Node
      errors: []
      lines:
      - 5
      - 6
      inline: false
      attributes: {}
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 5
        - 6
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            content: 'OAuth 2.0 client credentials flow. See '
          children: []
          type: text
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            href: /getting-started/authentication
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 5
            - 6
            inline: true
            attributes:
              content: Authentication Guide
            children: []
            type: text
            annotations: []
            slots: {}
          type: link
          annotations: []
          slots: {}
          redocly:::linkOriginal:href: /getting-started/authentication
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            content: ' for details.'
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: paragraph
      annotations: []
      slots: {}
servers:
- url: https://api.mvmnt.io/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Users
  description: User management operations
paths:
  /users/filter:
    post:
      summary: Filter users
      description: 'Filter users using comprehensive query criteria with AND/OR logic and multiple operators.

        Supports complex filtering similar to GraphQL capabilities.

        Note: Soft-deleted users are excluded by default (deletedAt defaults to { isNull: true }).

        '
      operationId: filterUsers
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserFilterRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 3
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: Filter users using comprehensive query criteria with AND/OR logic and multiple operators.
              children: []
              type: text
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes: {}
              children: []
              type: softbreak
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: Supports complex filtering similar to GraphQL capabilities.
              children: []
              type: text
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes: {}
              children: []
              type: softbreak
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: 'Note: Soft-deleted users are excluded by default (deletedAt defaults to { isNull: true }).'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
  /users:
    post:
      summary: Create user
      description: Create a new user in your organization
      operationId: createUser
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInput'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /users/{id}:
    get:
      summary: Get user
      description: Retrieve a user by ID or client key
      operationId: getUser
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      - $ref: '#/components/parameters/LookupBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    patch:
      summary: Update user
      description: Partially update a user. Only provided fields will be updated.
      operationId: updateUser
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      - $ref: '#/components/parameters/LookupBy'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPatch'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    delete:
      summary: Delete user
      description: Soft delete a user (sets deletedAt timestamp)
      operationId: deleteUser
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      - $ref: '#/components/parameters/LookupBy'
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /users/search:
    post:
      summary: Search users
      description: 'Search users using OpenSearch-powered full-text and field-specific search.


        This endpoint provides fast, indexed search across user data with support for:

        - Full-text search across multiple fields

        - Field-specific filtering with various operators

        - Sorting and pagination

        - Saved search preferences


        **Note:** Only active (non-deleted) users are searchable. Soft-deleted records are automatically excluded from all search results.


        **Response Formats:**

        - `flat` (default): Returns indexed fields only for faster performance

        - `full`: Returns complete user objects with all relationships

        '
      operationId: searchUsers
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSearchRequest'
      responses:
        '200':
          description: Successful search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
components:
  schemas:
    UserSearchResponse:
      type: object
      description: 'Response for user search requests.

        Note: Only active (non-deleted) users are included in results.

        '
      required:
      - data
      - pagination
      - totalResults
      properties:
        data:
          type: array
          description: Search results - either flat rows or full user objects based on format parameter
          items:
            oneOf:
            - $ref: '#/components/schemas/UserSearchRow'
            - $ref: '#/components/schemas/User'
            discriminator:
              propertyName: object
              mapping:
                USER_SEARCH_ROW: '#/components/schemas/UserSearchRow'
                USER: '#/components/schemas/User'
        pagination:
          $ref: '#/components/schemas/SearchPaginationInfo'
        totalResults:
          type: integer
          description: Total number of matching results (excluding soft-deleted records)
          minimum: 0
    RelativeTimeUnit:
      type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - HOUR
      - MINUTE
      - SECOND
      description: 'Time unit for relative time calculations:

        - `YEAR`: Years

        - `MONTH`: Months

        - `WEEK`: Weeks

        - `DAY`: Days

        - `HOUR`: Hours

        - `MINUTE`: Minutes

        - `SECOND`: Seconds

        '
    SearchPaginationInput:
      type: object
      description: Pagination options for search requests
      properties:
        pageNumber:
          type: integer
          minimum: 1
          default: 1
          description: Page number (1-based)
          example: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 250
          default: 50
          description: Number of results per page (max 250)
          example: 50
      example:
        pageNumber: 1
        pageSize: 50
    UUIDFilter:
      type: object
      description: Filter options for UUID fields (all operations)
      properties:
        equalTo:
          type: string
          format: uuid
          description: Exact match
        notEqualTo:
          type: string
          format: uuid
          description: Not equal to
        in:
          type: array
          items:
            type: string
            format: uuid
          description: Matches any UUID in the array
        notIn:
          type: array
          items:
            type: string
            format: uuid
          description: Does not match any UUID in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    KeywordSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for keyword fields (exact match, no partial matching)
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - ONE_OF
          - NOT_ONE_OF
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `ONE_OF`: Matches any value in array

            - `NOT_ONE_OF`: Does not match any value in array

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        values:
          type: array
          items:
            type: string
          description: Array of values for ONE_OF or NOT_ONE_OF operators
          example:
          - ACTIVE
          - PENDING
      example:
        operator: ONE_OF
        values:
        - ACTIVE
        - PENDING
    UserSearchRow:
      type: object
      description: 'Flattened user data from search index.

        Note: This represents only active users. Soft-deleted records are never returned.

        '
      properties:
        object:
          type: string
          enum:
          - USER_SEARCH_ROW
          description: Object type identifier for discriminating between flat and full response formats
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        emailVerified:
          type: boolean
          description: Whether email is verified
        phone:
          type:
          - string
          - 'null'
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
        roles:
          type: array
          items:
            type: string
          description: User roles
        visibility:
          type:
          - string
          - 'null'
          enum:
          - ALL
          - LIMITED
        teamIds:
          type: array
          items:
            type: string
            format: uuid
          description: Team IDs (maps from groupIds)
        teamNames:
          type: array
          items:
            type: string
          description: Team names (maps from groupNames)
        customersCount:
          type: integer
          description: Number of customers (maps from shippersCount)
        quotesCount:
          type:
          - integer
          - 'null'
        quotesWon:
          type:
          - integer
          - 'null'
        quoteWinRate:
          type:
          - number
          - 'null'
          format: float
          description: Win rate percentage
        ordersCount:
          type: integer
          description: Number of shipments
        ordersTotalRevenue:
          type: number
          format: float
          description: Total shipment revenue
        ordersTotalTransportationCost:
          type: number
          format: float
          description: Total transportation cost
        ordersTotalGrossProfit:
          type: number
          format: float
          description: Total gross profit
        averageGrossProfitPerOrder:
          type:
          - number
          - 'null'
          format: float
          description: Average gross profit per shipment
        carriersCount:
          type: integer
          description: Number of carriers
        createdAt:
          type: string
          format: date-time
        lastInvitedAt:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - object
      - id
      - name
      - email
      - emailVerified
      - status
      - customersCount
      - ordersCount
      - ordersTotalRevenue
      - ordersTotalTransportationCost
      - ordersTotalGrossProfit
      - carriersCount
      - createdAt
    UserSearchRequest:
      type: object
      description: Request body for searching users
      properties:
        criteria:
          $ref: '#/components/schemas/UserSearchCriteria'
          description: Search criteria to filter users
        pagination:
          $ref: '#/components/schemas/SearchPaginationInput'
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SearchSortOption'
          maxItems: 3
          description: Sort options for the search results
        savedSearch:
          $ref: '#/components/schemas/SavedSearchLookup'
          description: 'Optional saved search to load preferences from.

            When provided, the saved search criteria will be loaded and merged with any explicit criteria.

            '
        format:
          type: string
          enum:
          - flat
          - full
          default: flat
          description: 'Response format:

            - flat: Returns only indexed fields (default, faster)

            - full: Returns complete user objects

            '
    UserSearchCriteria:
      type: object
      description: 'Search criteria for filtering users.

        Note: Only active (non-deleted) users are searchable. Soft-deleted records are automatically excluded.

        '
      properties:
        id:
          $ref: '#/components/schemas/UUIDSearchCriteria'
        name:
          $ref: '#/components/schemas/TextSearchCriteria'
          description: User name
        email:
          $ref: '#/components/schemas/TextSearchCriteria'
          description: Email address
        emailVerified:
          $ref: '#/components/schemas/BooleanSearchCriteria'
          description: Whether email is verified
        phone:
          $ref: '#/components/schemas/TextSearchCriteria'
          description: Phone number
        status:
          $ref: '#/components/schemas/KeywordSearchCriteria'
          description: Status (pending, active, inactive)
        roles:
          $ref: '#/components/schemas/KeywordSearchCriteria'
          description: User roles
        visibility:
          $ref: '#/components/schemas/KeywordSearchCriteria'
          description: Visibility level (ALL, LIMITED)
        teamIds:
          $ref: '#/components/schemas/UUIDSearchCriteria'
          description: Team IDs (internal field groupIds)
        teamNames:
          $ref: '#/components/schemas/TextSearchCriteria'
          description: Team names (internal field groupNames)
        customersCount:
          $ref: '#/components/schemas/IntSearchCriteria'
          description: Number of customers (internal field shippersCount)
        quotesCount:
          $ref: '#/components/schemas/IntSearchCriteria'
          description: Number of quotes
        quotesWon:
          $ref: '#/components/schemas/IntSearchCriteria'
          description: Number of quotes won
        quoteWinRate:
          $ref: '#/components/schemas/FloatSearchCriteria'
          description: Quote win rate percentage
        ordersCount:
          $ref: '#/components/schemas/IntSearchCriteria'
          description: Number of shipments
        ordersTotalRevenue:
          $ref: '#/components/schemas/FloatSearchCriteria'
          description: Total shipment revenue
        ordersTotalTransportationCost:
          $ref: '#/components/schemas/FloatSearchCriteria'
          description: Total shipment transportation cost
        ordersTotalGrossProfit:
          $ref: '#/components/schemas/FloatSearchCriteria'
          description: Total shipment gross profit
        averageGrossProfitPerOrder:
          $ref: '#/components/schemas/FloatSearchCriteria'
          description: Average gross profit per shipment
        carriersCount:
          $ref: '#/components/schemas/IntSearchCriteria'
          description: Number of carriers
        createdAt:
          $ref: '#/components/schemas/DatetimeSearchCriteria'
        lastInvitedAt:
          $ref: '#/components/schemas/DatetimeSearchCriteria'
          description: When the user was last invited
    SavedSearchLookup:
      type: object
      description: 'Reference to a saved search by ID or client key.

        Provide either id or key (not both).

        '
      properties:
        id:
          type: string
          format: uuid
          description: Saved search UUID
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type: string
          maxLength: 512
          description: Client-defined key for the saved search
          example: my-carrier-search
      example:
        id: 550e8400-e29b-41d4-a716-446655440000
    DatetimeFilter:
      type: object
      description: Filter options for datetime fields
      properties:
        equalTo:
          type: string
          format: date-time
          description: Exact match
        notEqualTo:
          type: string
          format: date-time
          description: Not equal to
        lessThan:
          type: string
          format: date-time
          description: Before this datetime
        lessThanOrEqualTo:
          type: string
          format: date-time
          description: On or before this datetime
        greaterThan:
          type: string
          format: date-time
          description: After this datetime
        greaterThanOrEqualTo:
          type: string
          format: date-time
          description: On or after this datetime
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    UserRole:
      type: string
      enum:
      - CUSTOMER_REP
      - CARRIER_REP
      - AR_AP
      - COMPLIANCE
      - ADMIN
      description: 'User role within the organization:

        - `CUSTOMER_REP`: Customer service representative

        - `CARRIER_REP`: Carrier service representative

        - `AR_AP`: Accounts receivable/payable

        - `COMPLIANCE`: Compliance officer

        - `ADMIN`: System administrator

        '
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: 'User role within the organization:'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 6
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: CUSTOMER_REP
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': Customer service representative'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: CARRIER_REP
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Carrier service representative'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 3
            - 4
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 3
              - 4
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: AR_AP
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: ': Accounts receivable/payable'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 4
            - 5
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 4
              - 5
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: COMPLIANCE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: ': Compliance officer'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 5
            - 6
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 5
              - 6
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: ADMIN
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: ': System administrator'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    UUIDSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for UUID fields
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - ONE_OF
          - NOT_ONE_OF
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `ONE_OF`: Matches any UUID in array

            - `NOT_ONE_OF`: Does not match any UUID in array

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        values:
          type: array
          items:
            type: string
            format: uuid
          description: Array of UUIDs for ONE_OF or NOT_ONE_OF operators
          example:
          - 550e8400-e29b-41d4-a716-446655440000
          - 550e8400-e29b-41d4-a716-446655440001
      example:
        operator: EQUALS
        values:
        - 550e8400-e29b-41d4-a716-446655440000
    UserFilter:
      type: object
      description: Filter criteria for users with AND/OR logic support
      properties:
        and:
          type: array
          description: All conditions must match (recursive)
          items:
            $ref: '#/components/schemas/UserFilter'
        or:
          type: array
          description: At least one condition must match (recursive)
          items:
            $ref: '#/components/schemas/UserFilter'
        not:
          $ref: '#/components/schemas/UserFilter'
          description: Negates the filter
        id:
          $ref: '#/components/schemas/IDFilter'
        email:
          $ref: '#/components/schemas/StringFilter'
        name:
          $ref: '#/components/schemas/StringFilter'
        phone:
          $ref: '#/components/schemas/StringFilter'
        status:
          $ref: '#/components/schemas/UserStatusFilter'
        roles:
          $ref: '#/components/schemas/UserRoleFilter'
        key:
          $ref: '#/components/schemas/ClientKeyFilter'
        datUsername:
          $ref: '#/components/schemas/StringFilter'
        mcpUsername:
          $ref: '#/components/schemas/StringFilter'
        avatarId:
          $ref: '#/components/schemas/UUIDFilter'
        createdAt:
          $ref: '#/components/schemas/DatetimeFilter'
        updatedAt:
          $ref: '#/components/schemas/DatetimeFilter'
        deletedAt:
          $ref: '#/components/schemas/DatetimeFilter'
    Error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
    UserStatus:
      type: string
      enum:
      - PENDING
      - ACTIVE
      - INACTIVE
      description: 'User account status:

        - `PENDING`: User invited but has not completed onboarding

        - `ACTIVE`: User account is active and can access the system

        - `INACTIVE`: User account is deactivated

        '
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: 'User account status:'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 4
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: PENDING
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': User invited but has not completed onboarding'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ACTIVE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': User account is active and can access the system'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 3
            - 4
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 3
              - 4
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: INACTIVE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: ': User account is deactivated'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    TextSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for text fields (supports wildcards and partial matching)
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - STARTS_WITH
          - ENDS_WITH
          - INCLUDES
          - ONE_OF
          - NOT_ONE_OF
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `STARTS_WITH`: Begins with prefix

            - `ENDS_WITH`: Ends with suffix

            - `INCLUDES`: Contains substring

            - `ONE_OF`: Matches any value in array

            - `NOT_ONE_OF`: Does not match any value in array

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        values:
          type: array
          items:
            type: string
          description: Array of values for ONE_OF or NOT_ONE_OF operators
          example:
          - value1
          - value2
      example:
        operator: INCLUDES
        values:
        - search term
    User:
      type: object
      required:
      - id
      - email
      - status
      - roles
      - createdAt
      - updatedAt
      properties:
        object:
          type: string
          enum:
          - USER
          readOnly: true
          description: Object type identifier
          example: USER
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique user identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: User's email address
          example: john.doe@example.com
        name:
          type:
          - string
          - 'null'
          description: User's full name
          example: John Doe
        phone:
          type:
          - string
          - 'null'
          description: User's phone number
          example: +1-555-123-4567
        phoneExt:
          type:
          - string
          - 'null'
          description: Phone extension
          example: '123'
        status:
          $ref: '#/components/schemas/UserStatus'
        roles:
          type: array
          description: User's roles within the organization
          items:
            $ref: '#/components/schemas/UserRole'
          example:
          - CUSTOMER_REP
          - ADMIN
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier for this user
          example: ERP-USER-12345
        datUsername:
          type:
          - string
          - 'null'
          description: DAT (Load Board) integration username
          example: johndoe_dat
        mcpUsername:
          type:
          - string
          - 'null'
          description: MyCarrierPortal integration username
          example: johndoe_mcp
        avatarId:
          type:
          - string
          - 'null'
          format: uuid
          description: Profile avatar document ID
          example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
        teams:
          type: array
          description: Teams this user belongs to
          items:
            $ref: '#/components/schemas/TeamReference'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when user was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when user was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: Timestamp when user was soft-deleted (null if active)
          example: null
    DatetimeSearchCriteria:
      type: object
      required:
      - operator
      description: 'Search criteria for datetime fields.

        Supports both absolute datetime values and relative time expressions.

        '
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - BEFORE
          - AFTER
          - BETWEEN
          - NOT_BETWEEN
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `BEFORE`: Before datetime

            - `AFTER`: After datetime

            - `BETWEEN`: Between min and max (inclusive)

            - `NOT_BETWEEN`: Not between min and max

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        value:
          type: string
          format: date-time
          description: Absolute datetime for EQUALS, NOT_EQUALS
          example: '2025-01-15T10:00:00Z'
        min:
          type: string
          format: date-time
          description: Minimum datetime for BETWEEN or NOT_BETWEEN
          example: '2025-01-01T00:00:00Z'
        max:
          type: string
          format: date-time
          description: Maximum datetime for BETWEEN or NOT_BETWEEN
          example: '2025-12-31T23:59:59Z'
        valueRelative:
          type: integer
          description: 'Relative time from now (negative for past, positive for future).

            Example: -7 with WEEK unit means 7 weeks ago.

            '
        valueRelativeUnit:
          $ref: '#/components/schemas/RelativeTimeUnit'
        minRelative:
          type: integer
          description: Relative time for min boundary
        minRelativeUnit:
          $ref: '#/components/schemas/RelativeTimeUnit'
        maxRelative:
          type: integer
          description: Relative time for max boundary
        maxRelativeUnit:
          $ref: '#/components/schemas/RelativeTimeUnit'
      example:
        operator: AFTER
        value: '2025-01-01T00:00:00Z'
    IDFilter:
      type: object
      description: Filter options for ID fields (limited operations - exact match only)
      properties:
        equalTo:
          type: string
          format: uuid
          description: Exact match
        in:
          type: array
          description: Matches any UUID in the array
          items:
            type: string
            format: uuid
    ValidationError:
      type: object
      required:
      - error
      - message
      - details
      properties:
        error:
          type: string
          description: Error code
          example: validation_error
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          description: Validation error details
          items:
            type: object
            required:
            - field
            - message
            properties:
              field:
                type: string
                description: Field name that failed validation
              message:
                type: string
                description: Validation error message
    UserPatch:
      type: object
      description: 'Partial user update. All fields are optional.

        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable

        '
      properties:
        email:
          type: string
          format: email
          description: User's email address
          example: john.doe@example.com
        name:
          type:
          - string
          - 'null'
          description: User's full name
          example: John Doe
        phone:
          type:
          - string
          - 'null'
          description: User's phone number
          example: +1-555-123-4567
        phoneExt:
          type:
          - string
          - 'null'
          description: Phone extension
          example: '123'
        status:
          $ref: '#/components/schemas/UserStatus'
        roles:
          type: array
          description: User's roles (replaces all existing roles)
          items:
            $ref: '#/components/schemas/UserRole'
          minItems: 1
          example:
          - CUSTOMER_REP
          - ADMIN
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier
          example: ERP-USER-12345
        datUsername:
          type:
          - string
          - 'null'
          description: DAT integration username
          example: johndoe_dat
        mcpUsername:
          type:
          - string
          - 'null'
          description: MyCarrierPortal integration username
          example: johndoe_mcp
        avatarId:
          type:
          - string
          - 'null'
          format: uuid
          description: Profile avatar document ID
          example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
        teams:
          type: array
          description: Teams this user belongs to (replaces all existing team memberships)
          items:
            $ref: '#/components/schemas/ResourceReferenceInput'
          example:
          - id: 123e4567-e89b-12d3-a456-426614174000
          - key: TEAM-WEST-COAST
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: Partial user update. All fields are optional.
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 4
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  marker: '**'
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 1
                  - 2
                  inline: true
                  attributes:
                    content: Omitted fields
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: strong
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': Not modified (current value preserved)'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  marker: '**'
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 2
                  - 3
                  inline: true
                  attributes:
                    content: Provided fields
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: strong
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Updated to the new value'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 3
            - 4
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 3
              - 4
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  marker: '**'
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 3
                  - 4
                  inline: true
                  attributes:
                    content: Null values
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: strong
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: ': Clear the field (set to null) where applicable'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    BooleanSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for boolean fields
      properties:
        operator:
          type: string
          enum:
          - 'TRUE'
          - 'FALSE'
          description: 'Search operator:

            - `TRUE`: Field is true

            - `FALSE`: Field is false

            '
      example:
        operator: 'TRUE'
    IntSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for integer fields
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - GREATER_THAN
          - LESS_THAN
          - BETWEEN
          - NOT_BETWEEN
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `GREATER_THAN`: Greater than value

            - `LESS_THAN`: Less than value

            - `BETWEEN`: Between min and max (inclusive)

            - `NOT_BETWEEN`: Not between min and max

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        value:
          type: integer
          description: Single value for EQUALS, NOT_EQUALS, GREATER_THAN, LESS_THAN
        min:
          type: integer
          description: Minimum value for BETWEEN or NOT_BETWEEN
        max:
          type: integer
          description: Maximum value for BETWEEN or NOT_BETWEEN
      example:
        operator: BETWEEN
        min: 10
        max: 100
    PaginationInfo:
      type: object
      required:
      - pageSize
      - hasNextPage
      properties:
        pageSize:
          type: integer
          description: Number of items per page
          example: 50
        hasNextPage:
          type: boolean
          description: Whether there are more pages
          example: true
        hasPreviousPage:
          type: boolean
          description: Whether there are previous pages
          example: false
        endCursor:
          type:
          - string
          - 'null'
          description: Cursor for the next page (null if no next page)
          example: eyJpZCI6IjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9
    SearchPaginationInfo:
      type: object
      required:
      - pageNumber
      - pageSize
      - totalPages
      description: Pagination information for search results
      properties:
        pageNumber:
          type: integer
          description: Current page number
          example: 1
        pageSize:
          type: integer
          description: Number of results returned on this page
          example: 50
        totalPages:
          type: integer
          description: Total number of pages available
          example: 25
      example:
        pageNumber: 1
        pageSize: 50
        totalPages: 25
    TeamReference:
      type: object
      description: 'Team reference for embedding in User responses.

        Identical to Team but excludes the users array to avoid circular references.

        '
      required:
      - id
      - name
      - createdAt
      - updatedAt
      properties:
        object:
          type: string
          enum:
          - TEAM
          readOnly: true
          description: Object type identifier
          example: TEAM
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique team identifier
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          description: Team name
          example: Sales Team - West Coast
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier for this team
          example: ERP-TEAM-WEST
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when team was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when team was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: Timestamp when team was soft-deleted (null if active)
          example: null
    ClientKeyFilter:
      type: object
      description: Filter options for client key fields (limited operations - exact match only)
      properties:
        equalTo:
          type: string
          description: Exact match
        in:
          type: array
          description: Matches any value in the array
          items:
            type: string
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    UserInput:
      type: object
      required:
      - email
      - status
      - roles
      properties:
        email:
          type: string
          format: email
          description: User's email address (required)
          example: john.doe@example.com
        name:
          type: string
          description: User's full name
          example: John Doe
        phone:
          type: string
          description: User's phone number
          example: +1-555-123-4567
        phoneExt:
          type: string
          description: Phone extension
          example: '123'
        status:
          $ref: '#/components/schemas/UserStatus'
        roles:
          type: array
          description: User's roles within the organization (required)
          items:
            $ref: '#/components/schemas/UserRole'
          minItems: 1
          example:
          - CUSTOMER_REP
        key:
          type: string
          maxLength: 512
          description: Client-defined reference identifier
          example: ERP-USER-12345
        datUsername:
          type: string
          description: DAT (Load Board) integration username
          example: johndoe_dat
        mcpUsername:
          type: string
          description: MyCarrierPortal integration username
          example: johndoe_mcp
        avatarId:
          type: string
          format: uuid
          description: Profile avatar document ID
          example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
        teams:
          type: array
          description: Teams to add this user to
          items:
            $ref: '#/components/schemas/ResourceReferenceInput'
          example:
          - id: 123e4567-e89b-12d3-a456-426614174000
          - key: TEAM-WEST-COAST
    SearchSortOption:
      type: object
      required:
      - field
      - order
      description: Sort option for search results
      properties:
        field:
          type: string
          description: Field name to sort by (must be an indexed field)
          example: createdAt
        order:
          type: string
          enum:
          - asc
          - desc
          description: Sort direction (ascending or descending)
          example: desc
      example:
        field: createdAt
        order: desc
    UserRoleFilter:
      type: object
      description: Filter options for UserRole enum array
      properties:
        contains:
          $ref: '#/components/schemas/UserRole'
          description: Array contains this role
        containsAll:
          type: array
          items:
            $ref: '#/components/schemas/UserRole'
          description: Array contains all of these roles
        containsAny:
          type: array
          items:
            $ref: '#/components/schemas/UserRole'
          description: Array contains at least one of these roles
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    StringFilter:
      type: object
      description: Filter options for string fields
      properties:
        equalTo:
          type: string
          description: Exact match
        notEqualTo:
          type: string
          description: Not equal to
        in:
          type: array
          items:
            type: string
          description: Matches any value in the array
        notIn:
          type: array
          items:
            type: string
          description: Does not match any value in the array
        includes:
          type: string
          description: Contains substring (case-insensitive)
        notIncludes:
          type: string
          description: Does not contain substring (case-insensitive)
        startsWith:
          type: string
          description: Starts with prefix (case-insensitive)
        notStartsWith:
          type: string
          description: Does not start with prefix (case-insensitive)
        endsWith:
          type: string
          description: Ends with suffix (case-insensitive)
        notEndsWith:
          type: string
          description: Does not end with suffix (case-insensitive)
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    UserStatusFilter:
      type: object
      description: Filter options for UserStatus enum
      properties:
        equalTo:
          $ref: '#/components/schemas/UserStatus'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/UserStatus'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/UserStatus'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/UserStatus'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    ResourceReferenceInput:
      type: object
      description: Reference to another resource by either ID or client key (used in create/update requests)
      properties:
        id:
          type: string
          format: uuid
          description: Resource UUID
        key:
          type: string
          description: Client-defined reference ID
      oneOf:
      - required:
        - id
      - required:
        - key
      example:
        id: 550e8400-e29b-41d4-a716-446655440000
    UserFilterRequest:
      type: object
      description: Request body for filtering users
      properties:
        filter:
          $ref: '#/components/schemas/UserFilter'
          description: 'Filter criteria (optional - omit to return all users).

            Note: deletedAt automatically defaults to { isNull: true } unless explicitly overridden.

            '
          x-parsed-md-description:
            result:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 0
                - 2
                inline: false
                attributes: {}
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 2
                  inline: true
                  attributes:
                    content: Filter criteria (optional - omit to return all users).
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 2
                  inline: true
                  attributes: {}
                  children: []
                  type: softbreak
                  annotations: []
                  slots: {}
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 2
                  inline: true
                  attributes:
                    content: 'Note: deletedAt automatically defaults to { isNull: true } unless explicitly overridden.'
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: inline
                annotations: []
                slots: {}
              type: paragraph
              annotations: []
              slots: {}
        pageSize:
          type: integer
          minimum: 1
          maximum: 250
          default: 50
          description: Number of results per page
        cursor:
          type: string
          description: Pagination cursor for next page
      example:
        filter:
          and:
          - status:
              equalTo: ACTIVE
          - roles:
              contains: CUSTOMER_REP
          - email:
              includes: '@example.com'
        pageSize: 50
    FloatSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for float/decimal fields
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - GREATER_THAN
          - LESS_THAN
          - BETWEEN
          - NOT_BETWEEN
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `GREATER_THAN`: Greater than value

            - `LESS_THAN`: Less than value

            - `BETWEEN`: Between min and max (inclusive)

            - `NOT_BETWEEN`: Not between min and max

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        value:
          type: number
          format: float
          description: Single value for EQUALS, NOT_EQUALS, GREATER_THAN, LESS_THAN
        min:
          type: number
          format: float
          description: Minimum value for BETWEEN or NOT_BETWEEN
        max:
          type: number
          format: float
          description: Maximum value for BETWEEN or NOT_BETWEEN
      example:
        operator: GREATER_THAN
        value: 1000.5
  responses:
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Resource not found
    ValidationError:
      description: Validation error - invalid field values
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
          example:
            error: validation_error
            message: Invalid field values
            details:
            - field: email
              message: Must be a valid email address
            - field: status
              message: Must be one of PENDING, ACTIVE, INACTIVE
    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: rate_limit_exceeded
            message: Too many requests. Please retry after 60 seconds.
      headers:
        X-RateLimit-Limit:
          description: Request limit per minute
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Remaining requests in current window
          schema:
            type: integer
        X-RateLimit-Reset:
          description: Unix timestamp when rate limit resets
          schema:
            type: integer
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
    BadRequestError:
      description: Bad request - invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: bad_request
            message: Invalid request parameters
    UnauthorizedError:
      description: Unauthorized - invalid or missing access token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
            message: Invalid or expired access token
  parameters:
    IdOrClientKey:
      name: id
      in: path
      required: true
      description: Resource ID (UUID) or client key
      schema:
        type: string
      example: 550e8400-e29b-41d4-a716-446655440000
    LookupBy:
      name: by
      in: query
      description: 'Specify lookup type for faster retrieval.

        If omitted, defaults to looking up by ID first, then falls back to client key if not found.

        Use `by=key` when you know you''re providing a client key for best performance.

        '
      schema:
        type: string
        enum:
        - id
        - key
      example: key
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 3
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: Specify lookup type for faster retrieval.
              children: []
              type: text
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes: {}
              children: []
              type: softbreak
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: If omitted, defaults to looking up by ID first, then falls back to client key if not found.
              children: []
              type: text
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes: {}
              children: []
              type: softbreak
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: 'Use '
              children: []
              type: text
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: by=key
              children: []
              type: code
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: ' when you know you''re providing a client key for best performance.'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via client credentials flow
