openapi: 3.1.0
info:
  title: MVMNT Bill Payments Location Contacts API
  version: 1.0.0
  description: "The MVMNT API enables you to automate freight brokerage workflows by integrating\ndirectly with our Transportation Management System.\n\n## Authentication\n\nOAuth 2.0 client credentials flow. See [Authentication Guide](/getting-started/authentication)\nfor details.\n\n### Token Endpoint\n\n```\nPOST https://api.mvmnt.io/oauth2/token\n```\n\n#### Request\n\n**Headers:**\n```http\nContent-Type: application/x-www-form-urlencoded\n```\n\n**Body Parameters:**\n```\ngrant_type=client_credentials\nclient_id=YOUR_CLIENT_ID\nclient_secret=YOUR_CLIENT_SECRET\n```\n\n#### Example Request\n\n```bash\ncurl -X POST https://api.mvmnt.io/oauth2/token \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d \"grant_type=client_credentials\" \\\n  -d \"client_id=YOUR_CLIENT_ID\" \\\n  -d \"client_secret=YOUR_CLIENT_SECRET\"\n```\n\n#### Success Response\n\n**Status:** `200 OK`\n\n```json\n{\n  \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\",\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 3600\n}\n```\n\n**Response Fields:**\n- `access_token`: JWT Bearer token to use for API requests\n- `token_type`: Always `Bearer`\n- `expires_in`: Token lifetime in seconds (3600 = 1 hour)\n"
  contact:
    name: MVMNT Support
    email: support@mvmnt.io
    url: https://docs.mvmnt.io
  license:
    name: Proprietary
    url: https://mvmnt.io/legal/terms
  x-parsed-md-description:
    result:
    - $$mdtype: Node
      errors: []
      lines:
      - 0
      - 2
      inline: false
      attributes: {}
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 0
        - 2
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes:
            content: The MVMNT API enables you to automate freight brokerage workflows by integrating
          children: []
          type: text
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes: {}
          children: []
          type: softbreak
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes:
            content: directly with our Transportation Management System.
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: paragraph
      annotations: []
      slots: {}
    - $$mdtype: Node
      errors: []
      lines:
      - 3
      - 4
      inline: false
      attributes:
        level: 2
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 3
        - 4
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 3
          - 4
          inline: true
          attributes:
            content: Authentication
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: heading
      annotations: []
      slots: {}
    - $$mdtype: Node
      errors: []
      lines:
      - 5
      - 6
      inline: false
      attributes: {}
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 5
        - 6
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            content: 'OAuth 2.0 client credentials flow. See '
          children: []
          type: text
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            href: /getting-started/authentication
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 5
            - 6
            inline: true
            attributes:
              content: Authentication Guide
            children: []
            type: text
            annotations: []
            slots: {}
          type: link
          annotations: []
          slots: {}
          redocly:::linkOriginal:href: /getting-started/authentication
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            content: ' for details.'
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: paragraph
      annotations: []
      slots: {}
servers:
- url: https://api.mvmnt.io/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Location Contacts
  description: Location contact management operations
paths:
  /location-contacts/filter:
    post:
      tags:
      - Location Contacts
      summary: Filter location contacts
      description: 'Query location contacts using flexible filter criteria with AND/OR logic.


        By default, only non-deleted location contacts are returned (deletedAt: { isNull: true }).

        Override this by explicitly setting deletedAt filter criteria.

        '
      operationId: filterLocationContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationContactFilterRequest'
      responses:
        '200':
          description: Filtered location contacts with pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - pageInfo
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LocationContact'
                  pageInfo:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /location-contacts:
    post:
      tags:
      - Location Contacts
      summary: Create a new location contact
      description: 'Link a customer contact to a location with specific contact types/roles.


        Location contacts represent the relationship between a customer contact

        and a specific location, defining what role the contact has at that location.

        '
      operationId: createLocationContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationContactInput'
            examples:
              primary_manager:
                summary: Primary location manager
                value:
                  locationId: 770e8400-e29b-41d4-a716-446655440000
                  customerContactId: 660e8400-e29b-41d4-a716-446655440000
                  isPrimary: true
                  contactTypes:
                  - LOCATION_MANAGER
                  - SHIPPING
                  key: ERP-LOC-CONTACT-001
              billing_contact:
                summary: Billing contact
                value:
                  locationId: 770e8400-e29b-41d4-a716-446655440000
                  customerContactId: 660e8400-e29b-41d4-a716-446655440001
                  isPrimary: false
                  contactTypes:
                  - BILLING
      responses:
        '201':
          description: Location contact created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /location-contacts/{id}:
    get:
      tags:
      - Location Contacts
      summary: Get a location contact by ID
      description: 'Retrieve a single location contact by its unique identifier.

        '
      operationId: getLocationContactById
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '200':
          description: Location contact found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Location Contacts
      summary: Update a location contact
      description: 'Partially update a location contact. Only provided fields will be updated.


        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable

        '
      operationId: updateLocationContact
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationContactPatch'
            examples:
              updateContactTypes:
                summary: Update contact types
                value:
                  contactTypes:
                  - LOCATION_MANAGER
                  - SHIPPING
                  - RECEIVING
              updatePrimary:
                summary: Set as primary
                value:
                  isPrimary: true
      responses:
        '200':
          description: Location contact updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Location Contacts
      summary: Delete a location contact
      description: 'Soft delete a location contact (sets deletedAt timestamp).


        The location contact will no longer appear in default queries but can be retrieved

        by explicitly filtering for deleted records.

        '
      operationId: deleteLocationContact
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '204':
          description: Location contact deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    CustomerTransportationMode:
      type: string
      enum:
      - FTL
      - LTL
      - AIR
      - OCEAN
      - RAIL
      - INTERMODAL
      - DRAYAGE
      - EXPEDITED_GROUND
      - EXPEDITED_AIR
      - AUTO
      - PTL
      description: Transportation mode type
    ContactInfo:
      type: object
      description: 'Contact information details (nested, without id).


        This is an embedded object representing a Contact record. The id is managed

        internally and not exposed in the API.

        '
      required:
      - name
      properties:
        name:
          type: string
          description: Contact person's full name
          example: John Smith
        email:
          type:
          - string
          - 'null'
          format: email
          description: Email address
          example: john.smith@example.com
        phoneNumber:
          type:
          - string
          - 'null'
          description: Phone number
          example: +1-555-0100
        title:
          type:
          - string
          - 'null'
          description: Job title or position
          example: Operations Manager
    ShowNotes:
      type: string
      enum:
      - ALL
      - SPLIT
      description: 'Controls whether external notes are shown on all documents or split from carrier-facing notes.

        - `ALL`: Use external notes on customer-facing and carrier-facing documents

        - `SPLIT`: Use external notes on customer-facing documents and carrier notes on carrier-facing documents

        '
    CustomerAnnualSpend:
      type: string
      enum:
      - _0_TO_25K
      - _25_TO_150K
      - _150K_TO_300K
      - _300K_TO_1M
      - _1_TO_5M
      - _5M_TO_25M
      - _25M_TO_75M
      - _75M_PLUS
      description: Annual freight spend estimate range
    CustomerServiceTier:
      type: string
      enum:
      - TIER_1
      - TIER_2
      - TIER_3
      description: Service tier level for the customer
    BooleanFilter:
      type: object
      description: Filter options for boolean fields
      properties:
        equalTo:
          type: boolean
          description: Exact match
        notEqualTo:
          type: boolean
          description: Not equal to
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    Error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
    ClientKeyFilter:
      type: object
      description: Filter options for client key fields (limited operations - exact match only)
      properties:
        equalTo:
          type: string
          description: Exact match
        in:
          type: array
          description: Matches any value in the array
          items:
            type: string
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    Address:
      type: object
      description: 'Physical address/location details (nested, without id).


        This is an embedded object representing a Location record. The id is managed

        internally and not exposed in the API.

        '
      required:
      - line1
      - city
      - country
      - market
      - isAirportOrAirbase
      - isConstructionOrUtilitySite
      - isSmartyValidated
      - obeysDst
      properties:
        line1:
          type: string
          description: Primary street address line
          example: 123 Main St
        line2:
          type:
          - string
          - 'null'
          description: Secondary address line (suite, floor, etc.)
          example: Suite 400
        city:
          type: string
          description: City name
          example: Chicago
        country:
          type: string
          description: Country name or code
          example: USA
        market:
          type: string
          description: Market or region identifier
          example: CHI
        latitude:
          type:
          - string
          - 'null'
          description: Latitude coordinate
          example: '41.8781'
        longitude:
          type:
          - string
          - 'null'
          description: Longitude coordinate
          example: '-87.6298'
        isAirportOrAirbase:
          type: boolean
          description: Whether this location is an airport or airbase
          example: false
        isConstructionOrUtilitySite:
          type: boolean
          description: Whether this location is a construction or utility site
          example: false
        isSmartyValidated:
          type: boolean
          description: Whether address has been validated by SmartyStreets
          example: true
        obeysDst:
          type: boolean
          description: Whether this location observes daylight saving time
          example: true
        cityId:
          type:
          - string
          - 'null'
          format: uuid
          description: Reference to standardized city record (internal use)
          example: null
    CustomerCurrency:
      type: string
      enum:
      - USD
      - CAD
      - MXN
      - EUR
      - GBP
      - JPY
      - CNY
      - AUD
      - BRL
      - INR
      - KRW
      - RUB
      - SAR
      - TRY
      - IDR
      - ARS
      - ZAR
      description: Preferred currency for transactions
    LocationContactPatch:
      type: object
      description: 'Partial location contact update. All fields are optional.


        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable

        '
      properties:
        locationId:
          type: string
          format: uuid
          description: Location this contact is associated with
          example: 770e8400-e29b-41d4-a716-446655440000
        customerContactId:
          type: string
          format: uuid
          description: Customer contact linked to this location
          example: 660e8400-e29b-41d4-a716-446655440000
        isPrimary:
          type: boolean
          description: Whether this is the primary contact for the location
          example: true
        contactTypes:
          type: array
          items:
            $ref: '#/components/schemas/LocationContactType'
          description: Roles/types for this location contact
          example:
          - LOCATION_MANAGER
          - SHIPPING
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier
          example: ERP-LOC-CONTACT-001
    PaginationInfo:
      type: object
      required:
      - pageSize
      - hasNextPage
      properties:
        pageSize:
          type: integer
          description: Number of items per page
          example: 50
        hasNextPage:
          type: boolean
          description: Whether there are more pages
          example: true
        hasPreviousPage:
          type: boolean
          description: Whether there are previous pages
          example: false
        endCursor:
          type:
          - string
          - 'null'
          description: Cursor for the next page (null if no next page)
          example: eyJpZCI6IjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9
    LocationContactInput:
      type: object
      required:
      - locationId
      - customerContactId
      - isPrimary
      properties:
        locationId:
          type: string
          format: uuid
          description: Location this contact is associated with (required)
          example: 770e8400-e29b-41d4-a716-446655440000
        customerContactId:
          type: string
          format: uuid
          description: Customer contact to link to this location (required)
          example: 660e8400-e29b-41d4-a716-446655440000
        isPrimary:
          type: boolean
          description: Whether this is the primary contact for the location (required)
          example: true
        contactTypes:
          type: array
          items:
            $ref: '#/components/schemas/LocationContactType'
          description: Roles/types for this location contact
          example:
          - LOCATION_MANAGER
          - SHIPPING
        key:
          type: string
          maxLength: 512
          description: Client-defined reference identifier
          example: ERP-LOC-CONTACT-001
    CustomerAnnualRevenue:
      type: string
      enum:
      - _0_TO_500K
      - _500K_TO_3M
      - _3M_TO_10M
      - _10M_TO_25M
      - _25M_TO_50M
      - _50M_TO_100M
      - _100M_TO_500M
      - _500M_PLUS
      description: Annual revenue range
    Location:
      type: object
      required:
      - id
      - customerId
      - name
      - isAppointmentRequired
      - createdAt
      - updatedAt
      properties:
        object:
          type: string
          enum:
          - LOCATION
          readOnly: true
          description: Object type identifier
          example: LOCATION
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique location identifier
          example: 770e8400-e29b-41d4-a716-446655440000
        customerId:
          type: string
          format: uuid
          description: Customer (shipper profile) this location belongs to
          example: 550e8400-e29b-41d4-a716-446655440000
        customer:
          $ref: '#/components/schemas/Customer'
          readOnly: true
          description: The customer this location belongs to
        name:
          type: string
          description: Location name
          example: ABC Warehouse - Dallas
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier for this location
          example: ERP-LOC-DALLAS-01
        type:
          $ref: '#/components/schemas/LocationType'
          description: Type of location (SHIPPER, RECEIVER, or BOTH)
          example: SHIPPER
        isAppointmentRequired:
          type: boolean
          description: Whether appointments are required for this location
          example: true
        notes:
          type:
          - string
          - 'null'
          description: External notes visible to carriers
          example: Call 24 hours ahead for appointment
        internalNotes:
          type:
          - string
          - 'null'
          description: Internal notes (not visible to carriers)
          example: Use dock door 5 for expedited shipments
        contacts:
          type: array
          description: Contacts for this location
          items:
            $ref: '#/components/schemas/LocationContactReference'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when location was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when location was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: Timestamp when location was soft-deleted (null if active)
          example: null
    Customer:
      type: object
      required:
      - id
      - name
      - status
      - friendlyId
      - createdAt
      - updatedAt
      properties:
        object:
          type: string
          enum:
          - CUSTOMER
          readOnly: true
          description: Object type identifier
          example: CUSTOMER
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique customer identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          description: Customer company name
          example: Acme Manufacturing Corp
        friendlyId:
          type: string
          readOnly: true
          description: Human-readable customer identifier, starts with "A"
          example: A123456
        status:
          $ref: '#/components/schemas/CustomerStatus'
        serviceTier:
          anyOf:
          - $ref: '#/components/schemas/CustomerServiceTier'
          - type: 'null'
          description: Service tier level
        website:
          type:
          - string
          - 'null'
          description: Customer website URL
          example: https://acme-manufacturing.com
        phoneNumber:
          type:
          - string
          - 'null'
          description: Primary phone number
          example: +1-555-123-4567
        industry:
          anyOf:
          - $ref: '#/components/schemas/CustomerIndustry'
          - type: 'null'
          description: Industry classification
        annualRevenue:
          anyOf:
          - $ref: '#/components/schemas/CustomerAnnualRevenue'
          - type: 'null'
          description: Annual revenue range
        annualSpend:
          anyOf:
          - $ref: '#/components/schemas/CustomerAnnualSpend'
          - type: 'null'
          description: Annual freight spend estimate
        spendType:
          anyOf:
          - $ref: '#/components/schemas/CustomerSpendType'
          - type: 'null'
          description: Customer spend type (contract vs spot pricing)
        naics:
          type:
          - string
          - 'null'
          description: NAICS industry code
          example: '336411'
        ein:
          type:
          - string
          - 'null'
          description: Employer Identification Number
          example: 12-3456789
        duns:
          type:
          - string
          - 'null'
          description: Dun & Bradstreet number
          example: '123456789'
          x-parsed-md-description:
            result:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 0
                - 1
                inline: false
                attributes: {}
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 1
                  inline: true
                  attributes:
                    content: Dun & Bradstreet number
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: inline
                annotations: []
                slots: {}
              type: paragraph
              annotations: []
              slots: {}
        leadSource:
          type:
          - string
          - 'null'
          description: How this customer was acquired
          example: Referral
        dbaName:
          type:
          - string
          - 'null'
          description: Doing business as name
          example: Acme Corp DBA
        numberOfEmployees:
          anyOf:
          - $ref: '#/components/schemas/CustomerNumberOfEmployees'
          - type: 'null'
          description: Company size by number of employees
        externalId:
          type:
          - string
          - 'null'
          description: External system identifier
          example: EXT-12345
        currency:
          anyOf:
          - $ref: '#/components/schemas/CustomerCurrency'
          - type: 'null'
          description: Preferred currency for transactions
        creditLimit:
          type:
          - number
          - 'null'
          format: float
          description: Maximum credit allowed
          example: 50000
        creditUsageWarning:
          type:
          - number
          - 'null'
          format: float
          description: Credit usage warning threshold
          example: 40000
        freeCreditReq:
          type:
          - number
          - 'null'
          format: float
          description: Free credit requirement
          example: 5000
        defaultMode:
          anyOf:
          - $ref: '#/components/schemas/CustomerTransportationMode'
          - type: 'null'
          description: Default transportation mode
        defaultMargin:
          type:
          - number
          - 'null'
          format: float
          description: Default margin percentage (0-1, e.g., 0.15 for 15%)
          example: 0.15
        minMargin:
          type:
          - number
          - 'null'
          format: float
          description: Minimum margin threshold
          example: 0.1
        maxMargin:
          type:
          - number
          - 'null'
          format: float
          description: Maximum margin threshold
          example: 0.25
        defaultInternalNotes:
          type:
          - string
          - 'null'
          description: Default internal notes template
          example: Contact via email only
        defaultCarrierNotes:
          type:
          - string
          - 'null'
          description: Default carrier-facing notes template used when note splitting is enabled
          example: Call pickup contact before arrival
        defaultExternalNotes:
          type:
          - string
          - 'null'
          description: Default external notes template
          example: Please call 1 hour before delivery
        defaultShowNotes:
          anyOf:
          - $ref: '#/components/schemas/ShowNotes'
          - type: 'null'
          description: Controls whether default external notes are reused on carrier docs or split from default carrier notes
        autoAcceptTender:
          type:
          - boolean
          - 'null'
          description: Auto-accept tender flag
          example: false
        group:
          anyOf:
          - $ref: '#/components/schemas/ResourceReference'
          - type: 'null'
          description: Customer group reference (minimal - id and key only)
        paymentTerm:
          anyOf:
          - $ref: '#/components/schemas/PaymentTermReference'
          - type: 'null'
          description: Payment term configuration reference with full details
        notes:
          type:
          - string
          - 'null'
          description: Internal notes about this customer
          example: Prefers email communication
        deactivationReason:
          anyOf:
          - $ref: '#/components/schemas/CustomerDeactivationReason'
          - type: 'null'
          description: Reason for deactivation if status is INACTIVE
        deactivationNotes:
          type:
          - string
          - 'null'
          description: Additional details about deactivation
        deactivationDate:
          type:
          - string
          - 'null'
          format: date-time
          description: When the customer was deactivated
          example: null
        closedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: When the customer account was closed
          example: null
        closedBy:
          anyOf:
          - $ref: '#/components/schemas/UserReference'
          - type: 'null'
          readOnly: true
          description: User who closed the account (full user details)
        closedNotes:
          type:
          - string
          - 'null'
          description: Notes about account closure
        corporateAddress:
          anyOf:
          - $ref: '#/components/schemas/Address'
          - type: 'null'
          description: Corporate headquarters address (nested location data)
        billingAddress:
          anyOf:
          - $ref: '#/components/schemas/Address'
          - type: 'null'
          description: Billing address (nested location data)
        qboCustomerId:
          type:
          - string
          - 'null'
          description: QuickBooks Online customer ID
          example: null
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier for this customer
          example: ERP-CUSTOMER-12345
        contacts:
          type: array
          description: Contacts for this customer
          items:
            $ref: '#/components/schemas/CustomerContactReference'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when customer was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when customer was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: Timestamp when customer was soft-deleted (null if active)
          example: null
        deletedBy:
          anyOf:
          - $ref: '#/components/schemas/UserReference'
          - type: 'null'
          readOnly: true
          description: User who deleted the customer (full user details)
    PaymentTermReference:
      type: object
      description: 'Enhanced reference to a payment term resource (returned in responses).

        Includes full payment term details in addition to id/key.

        '
      required:
      - id
      - name
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Payment term UUID
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference ID if set
          example: ERP-PAYTERM-NET30
        name:
          type: string
          description: Payment term name
          example: Net 30
        description:
          type:
          - string
          - 'null'
          description: Payment term description or notes
          example: Payment due 30 days from invoice date
        days:
          type:
          - integer
          - 'null'
          description: Number of days until payment is due
          example: 30
        quickPayFee:
          type:
          - number
          - 'null'
          format: float
          description: Quick pay fee percentage (e.g., 0.05 for 5%)
          example: 0.05
          x-parsed-md-description:
            result:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 0
                - 1
                inline: false
                attributes: {}
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 1
                  inline: true
                  attributes:
                    content: Quick pay fee percentage (e.g., 0.05 for 5%)
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: inline
                annotations: []
                slots: {}
              type: paragraph
              annotations: []
              slots: {}
        apOnly:
          type:
          - boolean
          - 'null'
          description: Whether this payment term is for accounts payable only
          example: false
        doNotUse:
          type:
          - boolean
          - 'null'
          description: Flag to prevent using this payment term for new transactions
          example: false
        createdAt:
          type: string
          format: date-time
          description: When the payment term was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          description: When the payment term was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: When the payment term was soft deleted (null if active)
          example: null
    CustomerContactType:
      type: string
      description: Type of customer contact role
      enum:
      - ACCOUNT_MANAGER
      - BILLING
      - DOCK_SHIPPING
      - EMERGENCY
      - LOCATION_MANAGER
      - OWNER
      - PROCUREMENT
      - PURCHASING
      - RATES_PRICING
      - RECEIVING
      - SHIPPING
    CustomerSpendType:
      type: string
      enum:
      - CONTRACT
      - SPOT
      description: 'Customer spend type:

        - `CONTRACT`: Customer operates under contract pricing

        - `SPOT`: Customer operates on spot market pricing

        '
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: 'Customer spend type:'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 3
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: CONTRACT
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': Customer operates under contract pricing'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: SPOT
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Customer operates on spot market pricing'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    UUIDFilter:
      type: object
      description: Filter options for UUID fields (all operations)
      properties:
        equalTo:
          type: string
          format: uuid
          description: Exact match
        notEqualTo:
          type: string
          format: uuid
          description: Not equal to
        in:
          type: array
          items:
            type: string
            format: uuid
          description: Matches any UUID in the array
        notIn:
          type: array
          items:
            type: string
            format: uuid
          description: Does not match any UUID in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    CustomerStatus:
      type: string
      enum:
      - NEW
      - CONTACTED
      - QUALIFIED
      - QUOTED
      - NURTURING
      - PENDING
      - ACTIVE
      - INACTIVE
      - BLOCKED
      - CLOSED
      description: 'Customer account status (includes lead stages):

        - `NEW`: New lead, not yet contacted

        - `CONTACTED`: Initial contact made with lead

        - `QUALIFIED`: Lead has been qualified as potential customer

        - `QUOTED`: Quote has been provided to lead

        - `NURTURING`: Lead being nurtured for future opportunity

        - `PENDING`: Customer prospect pending activation

        - `ACTIVE`: Active customer account

        - `INACTIVE`: Deactivated customer account

        - `BLOCKED`: Customer account blocked from operations

        - `CLOSED`: Customer account permanently closed

        '
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: 'Customer account status (includes lead stages):'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 11
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: NEW
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': New lead, not yet contacted'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: CONTACTED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Initial contact made with lead'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 3
            - 4
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 3
              - 4
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: QUALIFIED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: ': Lead has been qualified as potential customer'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 4
            - 5
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 4
              - 5
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: QUOTED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: ': Quote has been provided to lead'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 5
            - 6
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 5
              - 6
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: NURTURING
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: ': Lead being nurtured for future opportunity'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 6
            - 7
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 6
              - 7
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 6
                - 7
                inline: true
                attributes:
                  content: PENDING
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 6
                - 7
                inline: true
                attributes:
                  content: ': Customer prospect pending activation'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 7
            - 8
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 7
              - 8
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 7
                - 8
                inline: true
                attributes:
                  content: ACTIVE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 7
                - 8
                inline: true
                attributes:
                  content: ': Active customer account'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 8
            - 9
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 8
              - 9
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 8
                - 9
                inline: true
                attributes:
                  content: INACTIVE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 8
                - 9
                inline: true
                attributes:
                  content: ': Deactivated customer account'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 9
            - 10
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 9
              - 10
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 9
                - 10
                inline: true
                attributes:
                  content: BLOCKED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 9
                - 10
                inline: true
                attributes:
                  content: ': Customer account blocked from operations'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 10
            - 11
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 10
              - 11
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 10
                - 11
                inline: true
                attributes:
                  content: CLOSED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 10
                - 11
                inline: true
                attributes:
                  content: ': Customer account permanently closed'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    LocationContactType:
      type: string
      description: Type of location contact role
      enum:
      - ACCOUNT_MANAGER
      - BILLING
      - DOCK_SHIPPING
      - EMERGENCY
      - LOCATION_MANAGER
      - OWNER
      - PROCUREMENT
      - PURCHASING
      - RATES_PRICING
      - RECEIVING
      - SHIPPING
    CustomerReference:
      type: object
      description: 'Enhanced reference to a customer resource (returned in responses).

        Includes full customer details in addition to id/key.


        Note: Does NOT include nested references (paymentTerm, contacts, etc.) to prevent recursion.

        Maximum nesting depth: 1 level.

        '
      required:
      - id
      - name
      - friendlyId
      - status
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Customer UUID
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference ID if set
          example: ERP-CUSTOMER-ACME
        name:
          type: string
          description: Customer company name
          example: Acme Manufacturing Corp
        friendlyId:
          type: string
          description: Human-readable customer identifier
          example: A123456
        status:
          type: string
          description: Customer status
          enum:
          - PROSPECT
          - ACTIVE
          - INACTIVE
          - CHURNED
          example: ACTIVE
        phoneNumber:
          type:
          - string
          - 'null'
          description: Primary phone number
          example: +1-555-123-4567
        website:
          type:
          - string
          - 'null'
          description: Customer website URL
          example: https://acme-manufacturing.com
        createdAt:
          type: string
          format: date-time
          description: When the customer was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          description: When the customer was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: When the customer was soft deleted (null if active)
          example: null
    LocationType:
      type: string
      enum:
      - SHIPPER
      - RECEIVER
      - BOTH
      description: 'The type of location:

        - `SHIPPER`: Pickup location only

        - `RECEIVER`: Delivery location only

        - `BOTH`: Can be used for both pickup and delivery

        '
    CustomerContactReference:
      type: object
      description: 'Customer contact reference for embedding in Customer responses.

        Identical to CustomerContact but excludes the customer and customerId fields to avoid circular references.

        '
      required:
      - id
      - name
      - isPrimary
      - contactInfo
      - createdAt
      properties:
        object:
          type: string
          enum:
          - CUSTOMER_CONTACT
          readOnly: true
          description: Object type identifier
          example: CUSTOMER_CONTACT
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique contact identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier
          example: ERP-CONTACT-JOHN-001
        name:
          type: string
          description: Contact person's name
          example: John Smith
        contactInfo:
          allOf:
          - $ref: '#/components/schemas/ContactInfo'
          description: Contact information details (email, phone, title)
        phoneExtension:
          type:
          - string
          - 'null'
          description: Phone extension specific to this contact role
          example: '1234'
        isPrimary:
          type: boolean
          description: Whether this is the primary contact
          example: true
        contactTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerContactType'
          description: Types/roles this contact serves
          example:
          - BILLING
          - ACCOUNT_MANAGER
        notifications:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerContactNotificationType'
          description: Shipment notification types
          example:
          - SHIPMENT_PICKED_UP
          - SHIPMENT_DELIVERED
        invitedUser:
          anyOf:
          - $ref: '#/components/schemas/UserReference'
          - type: 'null'
          readOnly: true
          description: User account invited/created for this contact
        deletedBy:
          anyOf:
          - $ref: '#/components/schemas/UserReference'
          - type: 'null'
          readOnly: true
          description: User who deleted this contact
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: When the contact was created
          example: '2025-01-15T10:00:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: When the contact was soft deleted
          example: null
    DatetimeFilter:
      type: object
      description: Filter options for datetime fields
      properties:
        equalTo:
          type: string
          format: date-time
          description: Exact match
        notEqualTo:
          type: string
          format: date-time
          description: Not equal to
        lessThan:
          type: string
          format: date-time
          description: Before this datetime
        lessThanOrEqualTo:
          type: string
          format: date-time
          description: On or before this datetime
        greaterThan:
          type: string
          format: date-time
          description: After this datetime
        greaterThanOrEqualTo:
          type: string
          format: date-time
          description: On or after this datetime
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    UserReference:
      type: object
      description: 'Enhanced reference to a user resource (returned in responses).

        Includes full user details in addition to id/key.


        Note: Does NOT include nested references (teams, etc.) to prevent recursion.

        Maximum nesting depth: 1 level.

        '
      required:
      - id
      - email
      - status
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: User UUID
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference ID if set
          example: ERP-USER-12345
        email:
          type: string
          format: email
          description: User's email address
          example: john.doe@example.com
        name:
          type:
          - string
          - 'null'
          description: User's full name
          example: John Doe
        phone:
          type:
          - string
          - 'null'
          description: User's phone number
          example: +1-555-123-4567
        phoneExt:
          type:
          - string
          - 'null'
          description: Phone extension
          example: '123'
        status:
          type: string
          description: User account status
          enum:
          - PENDING
          - ACTIVE
          - INACTIVE
          example: ACTIVE
        avatarId:
          type:
          - string
          - 'null'
          format: uuid
          description: Profile avatar document ID
          example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
        createdAt:
          type: string
          format: date-time
          description: When the user was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          description: When the user was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: When the user was soft deleted (null if active)
          example: null
    IDFilter:
      type: object
      description: Filter options for ID fields (limited operations - exact match only)
      properties:
        equalTo:
          type: string
          format: uuid
          description: Exact match
        in:
          type: array
          description: Matches any UUID in the array
          items:
            type: string
            format: uuid
    CustomerNumberOfEmployees:
      type: string
      enum:
      - _0_TO_1
      - _2_TO_5
      - _6_TO_9
      - _10_TO_24
      - _25_TO_99
      - _100_TO_249
      - _250_TO_499
      - _500_OR_MORE
      description: Number of employees in the company
    ResourceReference:
      type: object
      description: Reference to another resource (returned in responses)
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          description: Resource UUID
        key:
          type:
          - string
          - 'null'
          description: Client-defined reference ID if set
      example:
        id: 550e8400-e29b-41d4-a716-446655440000
        key: ERP-USER-12345
    CustomerContact:
      type: object
      required:
      - id
      - customer
      - name
      - isPrimary
      - contactInfo
      - createdAt
      properties:
        object:
          type: string
          enum:
          - CUSTOMER_CONTACT
          readOnly: true
          description: Object type identifier
          example: CUSTOMER_CONTACT
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique contact identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        customer:
          $ref: '#/components/schemas/CustomerReference'
          description: Customer this contact belongs to (full customer details)
        name:
          type: string
          description: Contact person's name (denormalized from ContactInfo for convenience)
          example: John Smith
        contactInfo:
          allOf:
          - $ref: '#/components/schemas/ContactInfo'
          description: Contact information details (email, phone, title) - nested from parent Contact record
        phoneExtension:
          type:
          - string
          - 'null'
          description: Phone extension specific to this contact role
          example: '1234'
        isPrimary:
          type: boolean
          description: Whether this is the primary contact for the customer
          example: true
        contactTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerContactType'
          description: Types/roles this contact serves
          example:
          - BILLING
          - ACCOUNT_MANAGER
        notifications:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerContactNotificationType'
          description: Shipment notification types to send to this contact
          example:
          - SHIPMENT_PICKED_UP
          - SHIPMENT_DELIVERED
        invitedUser:
          anyOf:
          - $ref: '#/components/schemas/UserReference'
          - type: 'null'
          readOnly: true
          description: User account invited/created for this contact (full user details)
        deletedBy:
          anyOf:
          - $ref: '#/components/schemas/UserReference'
          - type: 'null'
          readOnly: true
          description: User who deleted this contact (full user details)
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier
          example: ERP-CONTACT-JOHN-001
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: When the contact was created
          example: '2025-01-15T10:00:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: When the contact was soft deleted (null if active)
          example: null
    LocationContactTypeFilter:
      type: object
      description: Filter for contact type enum array field
      properties:
        includes:
          $ref: '#/components/schemas/LocationContactType'
          description: Array contains this contact type
        notIncludes:
          $ref: '#/components/schemas/LocationContactType'
          description: Array does not contain this contact type
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    LocationContactFilter:
      type: object
      description: Filter criteria for location contacts with AND/OR logic support
      properties:
        and:
          type: array
          description: All conditions must match (recursive)
          items:
            $ref: '#/components/schemas/LocationContactFilter'
        or:
          type: array
          description: At least one condition must match (recursive)
          items:
            $ref: '#/components/schemas/LocationContactFilter'
        not:
          $ref: '#/components/schemas/LocationContactFilter'
          description: Negates the filter
        id:
          $ref: '#/components/schemas/IDFilter'
        locationId:
          $ref: '#/components/schemas/UUIDFilter'
        customerContactId:
          $ref: '#/components/schemas/UUIDFilter'
        isPrimary:
          $ref: '#/components/schemas/BooleanFilter'
        contactTypes:
          $ref: '#/components/schemas/LocationContactTypeFilter'
        key:
          $ref: '#/components/schemas/ClientKeyFilter'
        createdAt:
          $ref: '#/components/schemas/DatetimeFilter'
        updatedAt:
          $ref: '#/components/schemas/DatetimeFilter'
        deletedAt:
          $ref: '#/components/schemas/DatetimeFilter'
    CustomerIndustry:
      type: string
      enum:
      - AGRICULTURE_FORESTRY
      - CONSTRUCTION
      - CONSUMER_GOODS
      - EDUCATIONAL_SERVICES
      - ENTERTAINMENT
      - FOOD_SERVICES
      - HEALTHCARE
      - INDUSTRIAL_MACHINERY
      - MANUFACTURING
      - MINING
      - RETAIL_TRADE
      - TRANSPORTATION_WAREHOUSING
      - UTILITIES
      - WHOLESALE_TRADE
      description: Industry classification for the customer
    LocationContact:
      type: object
      required:
      - id
      - locationId
      - customerContactId
      - isPrimary
      - createdAt
      - updatedAt
      properties:
        object:
          type: string
          enum:
          - LOCATION_CONTACT
          readOnly: true
          description: Object type identifier
          example: LOCATION_CONTACT
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique location contact identifier
          example: 880e8400-e29b-41d4-a716-446655440000
        locationId:
          type: string
          format: uuid
          description: Location this contact is associated with
          example: 770e8400-e29b-41d4-a716-446655440000
        location:
          $ref: '#/components/schemas/Location'
          readOnly: true
          description: The location this contact is associated with
        customerContactId:
          type: string
          format: uuid
          description: Customer contact linked to this location
          example: 660e8400-e29b-41d4-a716-446655440000
        customerContact:
          $ref: '#/components/schemas/CustomerContact'
          readOnly: true
          description: The customer contact details
        isPrimary:
          type: boolean
          description: Whether this is the primary contact for the location
          example: true
        contactTypes:
          type: array
          items:
            $ref: '#/components/schemas/LocationContactType'
          description: Roles/types for this location contact
          example:
          - LOCATION_MANAGER
          - SHIPPING
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier for this location contact
          example: ERP-LOC-CONTACT-001
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when location contact was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when location contact was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: Timestamp when location contact was soft-deleted (null if active)
          example: null
    LocationContactFilterRequest:
      type: object
      description: Request body for filtering location contacts
      properties:
        filter:
          $ref: '#/components/schemas/LocationContactFilter'
          description: 'Filter criteria (optional - omit to return all location contacts).


            Note: deletedAt automatically defaults to { isNull: true } unless explicitly overridden.

            '
        pageSize:
          type: integer
          minimum: 1
          maximum: 250
          default: 50
          description: Number of results per page
        cursor:
          type: string
          description: Pagination cursor for next page
      example:
        filter:
          and:
          - locationId:
              equalTo: 770e8400-e29b-41d4-a716-446655440000
          - isPrimary:
              equalTo: true
        pageSize: 50
    CustomerDeactivationReason:
      type: string
      enum:
      - NOT_PAYING_INVOICE
      - ACQUIRED
      - DUPLICATE
      - NOT_IN_BUSINESS
      - OTHER
      description: 'Reason for customer deactivation:

        - `NOT_PAYING_INVOICE`: Customer is not paying invoices

        - `ACQUIRED`: Customer was acquired by another company

        - `DUPLICATE`: Duplicate customer record

        - `NOT_IN_BUSINESS`: Customer is no longer in business

        - `OTHER`: Other reason (see deactivationNotes for details)

        '
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: 'Reason for customer deactivation:'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 6
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: NOT_PAYING_INVOICE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': Customer is not paying invoices'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ACQUIRED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Customer was acquired by another company'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 3
            - 4
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 3
              - 4
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: DUPLICATE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: ': Duplicate customer record'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 4
            - 5
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 4
              - 5
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: NOT_IN_BUSINESS
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: ': Customer is no longer in business'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 5
            - 6
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 5
              - 6
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: OTHER
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: ': Other reason (see deactivationNotes for details)'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    LocationContactReference:
      type: object
      description: 'Location contact reference for embedding in Location responses.

        Identical to LocationContact but excludes the location and locationId fields to avoid circular references.

        '
      required:
      - id
      - customerContactId
      - isPrimary
      - createdAt
      - updatedAt
      properties:
        object:
          type: string
          enum:
          - LOCATION_CONTACT
          readOnly: true
          description: Object type identifier
          example: LOCATION_CONTACT
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique location contact identifier
          example: 880e8400-e29b-41d4-a716-446655440000
        customerContactId:
          type: string
          format: uuid
          description: Customer contact linked to this location
          example: 660e8400-e29b-41d4-a716-446655440000
        customerContact:
          $ref: '#/components/schemas/CustomerContact'
          readOnly: true
          description: The customer contact details
        isPrimary:
          type: boolean
          description: Whether this is the primary contact for the location
          example: true
        contactTypes:
          type: array
          items:
            $ref: '#/components/schemas/LocationContactType'
          description: Roles/types for this location contact
          example:
          - LOCATION_MANAGER
          - SHIPPING
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier for this location contact
          example: ERP-LOC-CONTACT-001
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when location contact was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when location contact was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: Timestamp when location contact was soft-deleted (null if active)
          example: null
    CustomerContactNotificationType:
      type: string
      description: Types of shipment notifications the contact should receive
      enum:
      - SHIPMENT_DELIVERED
      - SHIPMENT_IN_TRANSIT
      - SHIPMENT_LOADING
      - SHIPMENT_OUT_FOR_DELIVERY
      - SHIPMENT_PICKED_UP
      - SHIPMENT_TENDER_REJECTED
      - SHIPMENT_UNLOADING
  responses:
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Resource not found
    ConflictError:
      description: Conflict - resource already exists or constraint violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: conflict
            message: A resource with this identifier already exists
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: internal_server_error
            message: An unexpected error occurred
    UnauthorizedError:
      description: Unauthorized - invalid or missing access token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
            message: Invalid or expired access token
    BadRequestError:
      description: Bad request - invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: bad_request
            message: Invalid request parameters
  parameters:
    IdOrClientKey:
      name: id
      in: path
      required: true
      description: Resource ID (UUID) or client key
      schema:
        type: string
      example: 550e8400-e29b-41d4-a716-446655440000
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via client credentials flow
