openapi: 3.2.0
info:
  title: MVMNT Customers API
  version: 1.0.0
  description: "The MVMNT API enables you to automate freight brokerage workflows by integrating\ndirectly with our Transportation Management System.\n\n## Authentication\n\nOAuth 2.0 client credentials flow. See [Authentication Guide](/getting-started/authentication)\nfor details.\n\n### Token Endpoint\n\n```\nPOST https://api.mvmnt.io/oauth2/token\n```\n\n#### Request\n\n**Headers:**\n```http\nContent-Type: application/x-www-form-urlencoded\n```\n\n**Body Parameters:**\n```\ngrant_type=client_credentials\nclient_id=YOUR_CLIENT_ID\nclient_secret=YOUR_CLIENT_SECRET\n```\n\n#### Example Request\n\n```bash\ncurl -X POST https://api.mvmnt.io/oauth2/token \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d \"grant_type=client_credentials\" \\\n  -d \"client_id=YOUR_CLIENT_ID\" \\\n  -d \"client_secret=YOUR_CLIENT_SECRET\"\n```\n\n#### Success Response\n\n**Status:** `200 OK`\n\n```json\n{\n  \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\",\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 3600\n}\n```\n\n**Response Fields:**\n- `access_token`: JWT Bearer token to use for API requests\n- `token_type`: Always `Bearer`\n- `expires_in`: Token lifetime in seconds (3600 = 1 hour)\n"
  contact:
    name: MVMNT Support
    email: support@mvmnt.io
    url: https://docs.mvmnt.io
  license:
    name: Proprietary
    url: https://mvmnt.io/legal/terms
  x-parsed-md-description:
    result:
    - $$mdtype: Node
      errors: []
      lines:
      - 0
      - 2
      inline: false
      attributes: {}
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 0
        - 2
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes:
            content: The MVMNT API enables you to automate freight brokerage workflows by integrating
          children: []
          type: text
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes: {}
          children: []
          type: softbreak
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 2
          inline: true
          attributes:
            content: directly with our Transportation Management System.
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: paragraph
      annotations: []
      slots: {}
    - $$mdtype: Node
      errors: []
      lines:
      - 3
      - 4
      inline: false
      attributes:
        level: 2
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 3
        - 4
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 3
          - 4
          inline: true
          attributes:
            content: Authentication
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: heading
      annotations: []
      slots: {}
    - $$mdtype: Node
      errors: []
      lines:
      - 5
      - 6
      inline: false
      attributes: {}
      children:
      - $$mdtype: Node
        errors: []
        lines:
        - 5
        - 6
        inline: false
        attributes: {}
        children:
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            content: 'OAuth 2.0 client credentials flow. See '
          children: []
          type: text
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            href: /getting-started/authentication
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 5
            - 6
            inline: true
            attributes:
              content: Authentication Guide
            children: []
            type: text
            annotations: []
            slots: {}
          type: link
          annotations: []
          slots: {}
          redocly:::linkOriginal:href: /getting-started/authentication
        - $$mdtype: Node
          errors: []
          lines:
          - 5
          - 6
          inline: true
          attributes:
            content: ' for details.'
          children: []
          type: text
          annotations: []
          slots: {}
        type: inline
        annotations: []
        slots: {}
      type: paragraph
      annotations: []
      slots: {}
servers:
- url: https://api.mvmnt.io/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Customers
  description: Customer management operations
paths:
  /customers/filter:
    post:
      summary: Filter customers
      description: 'Filter customers using comprehensive query criteria with AND/OR logic and multiple operators.

        Supports complex filtering similar to GraphQL capabilities.

        Note: Soft-deleted customers are excluded by default (deletedAt defaults to { isNull: true }).

        '
      operationId: filterCustomers
      tags:
      - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerFilterRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 3
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: Filter customers using comprehensive query criteria with AND/OR logic and multiple operators.
              children: []
              type: text
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes: {}
              children: []
              type: softbreak
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: Supports complex filtering similar to GraphQL capabilities.
              children: []
              type: text
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes: {}
              children: []
              type: softbreak
              annotations: []
              slots: {}
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 3
              inline: true
              attributes:
                content: 'Note: Soft-deleted customers are excluded by default (deletedAt defaults to { isNull: true }).'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
  /customers:
    post:
      summary: Create customer
      description: Create a new customer in your organization
      operationId: createCustomer
      tags:
      - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /customers/{id}:
    get:
      summary: Get customer
      description: Retrieve a customer by ID or client key
      operationId: getCustomer
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      - $ref: '#/components/parameters/LookupBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    patch:
      summary: Update customer
      description: Partially update a customer. Only provided fields will be updated.
      operationId: updateCustomer
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      - $ref: '#/components/parameters/LookupBy'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPatch'
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    delete:
      summary: Delete customer
      description: Soft delete a customer (sets deletedAt timestamp)
      operationId: deleteCustomer
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      - $ref: '#/components/parameters/LookupBy'
      responses:
        '204':
          description: Customer deleted successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /customers/search:
    post:
      summary: Search customers
      description: 'Search customers using OpenSearch-powered full-text and field-specific search.


        This endpoint provides fast, indexed search across customer data with support for:

        - Full-text search across multiple fields

        - Field-specific filtering with various operators

        - Sorting and pagination

        - Saved search preferences


        **Note:** Only active (non-deleted) customers are searchable. Soft-deleted records are automatically excluded from all search results.


        **Response Formats:**

        - `flat` (default): Returns indexed fields only for faster performance

        - `full`: Returns complete customer objects with all relationships

        '
      operationId: searchCustomers
      tags:
      - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSearchRequest'
      responses:
        '200':
          description: Successful search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /customers/{id}/payments:
    get:
      summary: Get customer payments
      description: List all payments from a specific customer.
      operationId: getCustomerPayments
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      - $ref: '#/components/parameters/LookupBy'
      - name: pageSize
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Payments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /customers/{id}/outstanding-invoices:
    get:
      summary: Get outstanding invoices
      description: 'List invoices available for payment from a customer.


        Returns invoices with status `AWAITING_PAYMENT` or `PARTIALLY_PAID`.

        '
      operationId: getCustomerOutstandingInvoices
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/IdOrClientKey'
      - $ref: '#/components/parameters/LookupBy'
      responses:
        '200':
          description: Outstanding invoices retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingInvoicesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
components:
  schemas:
    CustomerStatus:
      type: string
      enum:
      - NEW
      - CONTACTED
      - QUALIFIED
      - QUOTED
      - NURTURING
      - PENDING
      - ACTIVE
      - INACTIVE
      - BLOCKED
      - CLOSED
      description: 'Customer account status (includes lead stages):

        - `NEW`: New lead, not yet contacted

        - `CONTACTED`: Initial contact made with lead

        - `QUALIFIED`: Lead has been qualified as potential customer

        - `QUOTED`: Quote has been provided to lead

        - `NURTURING`: Lead being nurtured for future opportunity

        - `PENDING`: Customer prospect pending activation

        - `ACTIVE`: Active customer account

        - `INACTIVE`: Deactivated customer account

        - `BLOCKED`: Customer account blocked from operations

        - `CLOSED`: Customer account permanently closed

        '
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: 'Customer account status (includes lead stages):'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 11
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: NEW
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': New lead, not yet contacted'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: CONTACTED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Initial contact made with lead'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 3
            - 4
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 3
              - 4
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: QUALIFIED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: ': Lead has been qualified as potential customer'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 4
            - 5
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 4
              - 5
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: QUOTED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: ': Quote has been provided to lead'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 5
            - 6
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 5
              - 6
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: NURTURING
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: ': Lead being nurtured for future opportunity'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 6
            - 7
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 6
              - 7
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 6
                - 7
                inline: true
                attributes:
                  content: PENDING
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 6
                - 7
                inline: true
                attributes:
                  content: ': Customer prospect pending activation'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 7
            - 8
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 7
              - 8
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 7
                - 8
                inline: true
                attributes:
                  content: ACTIVE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 7
                - 8
                inline: true
                attributes:
                  content: ': Active customer account'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 8
            - 9
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 8
              - 9
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 8
                - 9
                inline: true
                attributes:
                  content: INACTIVE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 8
                - 9
                inline: true
                attributes:
                  content: ': Deactivated customer account'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 9
            - 10
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 9
              - 10
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 9
                - 10
                inline: true
                attributes:
                  content: BLOCKED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 9
                - 10
                inline: true
                attributes:
                  content: ': Customer account blocked from operations'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 10
            - 11
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 10
              - 11
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 10
                - 11
                inline: true
                attributes:
                  content: CLOSED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 10
                - 11
                inline: true
                attributes:
                  content: ': Customer account permanently closed'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    CustomerTransportationModeFilter:
      type: object
      description: Filter options for CustomerTransportationMode enum
      properties:
        equalTo:
          $ref: '#/components/schemas/CustomerTransportationMode'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/CustomerTransportationMode'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/CustomerTransportationMode'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/CustomerTransportationMode'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    PaymentTermReference:
      type: object
      description: 'Enhanced reference to a payment term resource (returned in responses).

        Includes full payment term details in addition to id/key.

        '
      required:
      - id
      - name
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Payment term UUID
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference ID if set
          example: ERP-PAYTERM-NET30
        name:
          type: string
          description: Payment term name
          example: Net 30
        description:
          type:
          - string
          - 'null'
          description: Payment term description or notes
          example: Payment due 30 days from invoice date
        days:
          type:
          - integer
          - 'null'
          description: Number of days until payment is due
          example: 30
        quickPayFee:
          type:
          - number
          - 'null'
          format: float
          description: Quick pay fee percentage (e.g., 0.05 for 5%)
          example: 0.05
          x-parsed-md-description:
            result:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 0
                - 1
                inline: false
                attributes: {}
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 1
                  inline: true
                  attributes:
                    content: Quick pay fee percentage (e.g., 0.05 for 5%)
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: inline
                annotations: []
                slots: {}
              type: paragraph
              annotations: []
              slots: {}
        apOnly:
          type:
          - boolean
          - 'null'
          description: Whether this payment term is for accounts payable only
          example: false
        doNotUse:
          type:
          - boolean
          - 'null'
          description: Flag to prevent using this payment term for new transactions
          example: false
        createdAt:
          type: string
          format: date-time
          description: When the payment term was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          description: When the payment term was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: When the payment term was soft deleted (null if active)
          example: null
    CustomerFilterRequest:
      type: object
      description: Request body for filtering customers
      properties:
        filter:
          $ref: '#/components/schemas/CustomerFilter'
          description: 'Filter criteria (optional - omit to return all customers).

            Note: deletedAt automatically defaults to { isNull: true } unless explicitly overridden.

            '
          x-parsed-md-description:
            result:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 0
                - 2
                inline: false
                attributes: {}
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 2
                  inline: true
                  attributes:
                    content: Filter criteria (optional - omit to return all customers).
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 2
                  inline: true
                  attributes: {}
                  children: []
                  type: softbreak
                  annotations: []
                  slots: {}
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 2
                  inline: true
                  attributes:
                    content: 'Note: deletedAt automatically defaults to { isNull: true } unless explicitly overridden.'
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: inline
                annotations: []
                slots: {}
              type: paragraph
              annotations: []
              slots: {}
        pageSize:
          type: integer
          minimum: 1
          maximum: 250
          default: 50
          description: Number of results per page
        cursor:
          type: string
          description: Pagination cursor for next page
      example:
        filter:
          and:
          - status:
              equalTo: ACTIVE
          - industry:
              includes: Manufacturing
        pageSize: 50
    CustomerSearchRequest:
      type: object
      description: Request body for searching customers
      properties:
        criteria:
          $ref: '#/components/schemas/CustomerSearchCriteria'
          description: Search criteria to filter customers
        pagination:
          $ref: '#/components/schemas/SearchPaginationInput'
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SearchSortOption'
          maxItems: 3
          description: Sort options for the search results
        savedSearch:
          $ref: '#/components/schemas/SavedSearchLookup'
          description: 'Optional saved search to load preferences from.

            When provided, the saved search criteria will be loaded and merged with any explicit criteria.

            '
        format:
          type: string
          enum:
          - flat
          - full
          default: flat
          description: 'Response format:

            - flat: Returns only indexed fields (default, faster)

            - full: Returns complete customer objects

            '
    RelativeTimeUnit:
      type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - HOUR
      - MINUTE
      - SECOND
      description: 'Time unit for relative time calculations:

        - `YEAR`: Years

        - `MONTH`: Months

        - `WEEK`: Weeks

        - `DAY`: Days

        - `HOUR`: Hours

        - `MINUTE`: Minutes

        - `SECOND`: Seconds

        '
    SearchPaginationInput:
      type: object
      description: Pagination options for search requests
      properties:
        pageNumber:
          type: integer
          minimum: 1
          default: 1
          description: Page number (1-based)
          example: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 250
          default: 50
          description: Number of results per page (max 250)
          example: 50
      example:
        pageNumber: 1
        pageSize: 50
    CustomerAnnualSpendFilter:
      type: object
      description: Filter options for CustomerAnnualSpend enum
      properties:
        equalTo:
          $ref: '#/components/schemas/CustomerAnnualSpend'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/CustomerAnnualSpend'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAnnualSpend'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAnnualSpend'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    CustomerDeactivationReason:
      type: string
      enum:
      - NOT_PAYING_INVOICE
      - ACQUIRED
      - DUPLICATE
      - NOT_IN_BUSINESS
      - OTHER
      description: 'Reason for customer deactivation:

        - `NOT_PAYING_INVOICE`: Customer is not paying invoices

        - `ACQUIRED`: Customer was acquired by another company

        - `DUPLICATE`: Duplicate customer record

        - `NOT_IN_BUSINESS`: Customer is no longer in business

        - `OTHER`: Other reason (see deactivationNotes for details)

        '
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: 'Reason for customer deactivation:'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 6
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: NOT_PAYING_INVOICE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': Customer is not paying invoices'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ACQUIRED
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Customer was acquired by another company'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 3
            - 4
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 3
              - 4
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: DUPLICATE
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: ': Duplicate customer record'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 4
            - 5
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 4
              - 5
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: NOT_IN_BUSINESS
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 4
                - 5
                inline: true
                attributes:
                  content: ': Customer is no longer in business'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 5
            - 6
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 5
              - 6
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: OTHER
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 5
                - 6
                inline: true
                attributes:
                  content: ': Other reason (see deactivationNotes for details)'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    CustomerAnnualSpend:
      type: string
      enum:
      - _0_TO_25K
      - _25_TO_150K
      - _150K_TO_300K
      - _300K_TO_1M
      - _1_TO_5M
      - _5M_TO_25M
      - _25M_TO_75M
      - _75M_PLUS
      description: Annual freight spend estimate range
    CustomerSpendTypeFilter:
      type: object
      description: Filter options for CustomerSpendType enum
      properties:
        equalTo:
          $ref: '#/components/schemas/CustomerSpendType'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/CustomerSpendType'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/CustomerSpendType'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/CustomerSpendType'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    CustomerSpendType:
      type: string
      enum:
      - CONTRACT
      - SPOT
      description: 'Customer spend type:

        - `CONTRACT`: Customer operates under contract pricing

        - `SPOT`: Customer operates on spot market pricing

        '
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: 'Customer spend type:'
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 3
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: CONTRACT
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': Customer operates under contract pricing'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: SPOT
                children: []
                type: code
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Customer operates on spot market pricing'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    UserReference:
      type: object
      description: 'Enhanced reference to a user resource (returned in responses).

        Includes full user details in addition to id/key.


        Note: Does NOT include nested references (teams, etc.) to prevent recursion.

        Maximum nesting depth: 1 level.

        '
      required:
      - id
      - email
      - status
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: User UUID
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference ID if set
          example: ERP-USER-12345
        email:
          type: string
          format: email
          description: User's email address
          example: john.doe@example.com
        name:
          type:
          - string
          - 'null'
          description: User's full name
          example: John Doe
        phone:
          type:
          - string
          - 'null'
          description: User's phone number
          example: +1-555-123-4567
        phoneExt:
          type:
          - string
          - 'null'
          description: Phone extension
          example: '123'
        status:
          type: string
          description: User account status
          enum:
          - PENDING
          - ACTIVE
          - INACTIVE
          example: ACTIVE
        avatarId:
          type:
          - string
          - 'null'
          format: uuid
          description: Profile avatar document ID
          example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
        createdAt:
          type: string
          format: date-time
          description: When the user was created
          example: '2025-01-15T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          description: When the user was last updated
          example: '2025-01-15T14:30:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: When the user was soft deleted (null if active)
          example: null
    KeywordSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for keyword fields (exact match, no partial matching)
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - ONE_OF
          - NOT_ONE_OF
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `ONE_OF`: Matches any value in array

            - `NOT_ONE_OF`: Does not match any value in array

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        values:
          type: array
          items:
            type: string
          description: Array of values for ONE_OF or NOT_ONE_OF operators
          example:
          - ACTIVE
          - PENDING
      example:
        operator: ONE_OF
        values:
        - ACTIVE
        - PENDING
    CustomerServiceTierFilter:
      type: object
      description: Filter options for CustomerServiceTier enum
      properties:
        equalTo:
          $ref: '#/components/schemas/CustomerServiceTier'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/CustomerServiceTier'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/CustomerServiceTier'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/CustomerServiceTier'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    CustomerPatch:
      type: object
      description: 'Partial customer update. All fields are optional.

        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable

        '
      properties:
        name:
          type: string
          description: Customer company name
          example: Acme Manufacturing Corp
        status:
          $ref: '#/components/schemas/CustomerStatus'
        serviceTier:
          anyOf:
          - $ref: '#/components/schemas/CustomerServiceTier'
          - type: 'null'
          description: Service tier level
        website:
          type:
          - string
          - 'null'
          description: Customer website URL
          example: https://acme-manufacturing.com
        phoneNumber:
          type:
          - string
          - 'null'
          description: Primary phone number
          example: +1-555-123-4567
        industry:
          anyOf:
          - $ref: '#/components/schemas/CustomerIndustry'
          - type: 'null'
          description: Industry classification
        annualRevenue:
          anyOf:
          - $ref: '#/components/schemas/CustomerAnnualRevenue'
          - type: 'null'
          description: Annual revenue range
        annualSpend:
          anyOf:
          - $ref: '#/components/schemas/CustomerAnnualSpend'
          - type: 'null'
          description: Annual freight spend estimate
        spendType:
          anyOf:
          - $ref: '#/components/schemas/CustomerSpendType'
          - type: 'null'
          description: Customer spend type (contract vs spot pricing)
        naics:
          type:
          - string
          - 'null'
          description: NAICS industry code
          example: '336411'
        ein:
          type:
          - string
          - 'null'
          description: Employer Identification Number
          example: 12-3456789
        duns:
          type:
          - string
          - 'null'
          description: Dun & Bradstreet number
          example: '123456789'
          x-parsed-md-description:
            result:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 0
                - 1
                inline: false
                attributes: {}
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 0
                  - 1
                  inline: true
                  attributes:
                    content: Dun & Bradstreet number
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: inline
                annotations: []
                slots: {}
              type: paragraph
              annotations: []
              slots: {}
        leadSource:
          type:
          - string
          - 'null'
          description: How this customer was acquired
          example: Referral
        dbaName:
          type:
          - string
          - 'null'
          description: Doing business as name
          example: Acme Corp DBA
        numberOfEmployees:
          anyOf:
          - $ref: '#/components/schemas/CustomerNumberOfEmployees'
          - type: 'null'
          description: Company size by number of employees
        externalId:
          type:
          - string
          - 'null'
          description: External system identifier
          example: EXT-12345
        currency:
          anyOf:
          - $ref: '#/components/schemas/CustomerCurrency'
          - type: 'null'
          description: Preferred currency for transactions
        creditLimit:
          type:
          - number
          - 'null'
          format: float
          description: Maximum credit allowed
          example: 50000
        creditUsageWarning:
          type:
          - number
          - 'null'
          format: float
          description: Credit usage warning threshold
          example: 40000
        freeCreditReq:
          type:
          - number
          - 'null'
          format: float
          description: Free credit requirement
          example: 5000
        defaultMode:
          anyOf:
          - $ref: '#/components/schemas/CustomerTransportationMode'
          - type: 'null'
          description: Default transportation mode
        defaultMargin:
          type:
          - number
          - 'null'
          format: float
          description: Default margin percentage (0-1, e.g., 0.15 for 15%)
          example: 0.15
        minMargin:
          type:
          - number
          - 'null'
          format: float
          description: Minimum margin threshold
          example: 0.1
        maxMargin:
          type:
          - number
          - 'null'
          format: float
          description: Maximum margin threshold
          example: 0.25
        defaultInternalNotes:
          type:
          - string
          - 'null'
          description: Default internal notes template
          example: Contact via email only
        defaultCarrierNotes:
          type:
          - string
          - 'null'
          description: Default carrier-facing notes template used when note splitting is enabled
          example: Call pickup contact before arrival
        defaultExternalNotes:
          type:
          - string
          - 'null'
          description: Default external notes template
          example: Please call 1 hour before delivery
        defaultShowNotes:
          anyOf:
          - $ref: '#/components/schemas/ShowNotes'
          - type: 'null'
          description: Controls whether default external notes are reused on carrier docs or split from default carrier notes
        autoAcceptTender:
          type:
          - boolean
          - 'null'
          description: Auto-accept tender flag
          example: false
        groupId:
          type:
          - string
          - 'null'
          format: uuid
          description: Customer group reference
          example: null
        paymentTerm:
          anyOf:
          - $ref: '#/components/schemas/ResourceReferenceInput'
          - type: 'null'
          description: Payment term configuration reference
        notes:
          type:
          - string
          - 'null'
          description: Internal notes
          example: Prefers email communication
        deactivationReason:
          anyOf:
          - $ref: '#/components/schemas/CustomerDeactivationReason'
          - type: 'null'
          description: Reason for deactivation
        deactivationNotes:
          type:
          - string
          - 'null'
          description: Additional deactivation details
        deactivationDate:
          type:
          - string
          - 'null'
          format: date-time
          description: Deactivation date
        corporateAddress:
          anyOf:
          - $ref: '#/components/schemas/AddressPatch'
          - type: 'null'
          description: 'Corporate address update. Provide partial or full address data to update the existing location.

            Set to null to clear the address reference.

            '
        billingAddress:
          anyOf:
          - $ref: '#/components/schemas/AddressPatch'
          - type: 'null'
          description: 'Billing address update. Provide partial or full address data to update the existing location.

            Set to null to clear the address reference.

            '
        qboCustomerId:
          type:
          - string
          - 'null'
          description: QuickBooks Online customer ID
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier
          example: ERP-CUSTOMER-12345
      x-parsed-md-description:
        result:
        - $$mdtype: Node
          errors: []
          lines:
          - 0
          - 1
          inline: false
          attributes: {}
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 0
            - 1
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 0
              - 1
              inline: true
              attributes:
                content: Partial customer update. All fields are optional.
              children: []
              type: text
              annotations: []
              slots: {}
            type: inline
            annotations: []
            slots: {}
          type: paragraph
          annotations: []
          slots: {}
        - $$mdtype: Node
          errors: []
          lines:
          - 1
          - 4
          inline: false
          attributes:
            ordered: false
            marker: '-'
          children:
          - $$mdtype: Node
            errors: []
            lines:
            - 1
            - 2
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 1
              - 2
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  marker: '**'
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 1
                  - 2
                  inline: true
                  attributes:
                    content: Omitted fields
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: strong
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 1
                - 2
                inline: true
                attributes:
                  content: ': Not modified (current value preserved)'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 2
            - 3
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 2
              - 3
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  marker: '**'
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 2
                  - 3
                  inline: true
                  attributes:
                    content: Provided fields
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: strong
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 2
                - 3
                inline: true
                attributes:
                  content: ': Updated to the new value'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          - $$mdtype: Node
            errors: []
            lines:
            - 3
            - 4
            inline: false
            attributes: {}
            children:
            - $$mdtype: Node
              errors: []
              lines:
              - 3
              - 4
              inline: false
              attributes: {}
              children:
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  marker: '**'
                children:
                - $$mdtype: Node
                  errors: []
                  lines:
                  - 3
                  - 4
                  inline: true
                  attributes:
                    content: Null values
                  children: []
                  type: text
                  annotations: []
                  slots: {}
                type: strong
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                - 3
                - 4
                inline: true
                attributes:
                  content: ': Clear the field (set to null) where applicable'
                children: []
                type: text
                annotations: []
                slots: {}
              type: inline
              annotations: []
              slots: {}
            type: item
            annotations: []
            slots: {}
          type: list
          annotations: []
          slots: {}
    SavedSearchLookup:
      type: object
      description: 'Reference to a saved search by ID or client key.

        Provide either id or key (not both).

        '
      properties:
        id:
          type: string
          format: uuid
          description: Saved search UUID
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type: string
          maxLength: 512
          description: Client-defined key for the saved search
          example: my-carrier-search
      example:
        id: 550e8400-e29b-41d4-a716-446655440000
    CustomerContactNotificationType:
      type: string
      description: Types of shipment notifications the contact should receive
      enum:
      - SHIPMENT_DELIVERED
      - SHIPMENT_IN_TRANSIT
      - SHIPMENT_LOADING
      - SHIPMENT_OUT_FOR_DELIVERY
      - SHIPMENT_PICKED_UP
      - SHIPMENT_TENDER_REJECTED
      - SHIPMENT_UNLOADING
    PaymentApplication:
      type: object
      required:
      - id
      - invoiceId
      - amount
      properties:
        id:
          type: string
          format: uuid
        invoiceId:
          type: string
          format: uuid
        invoiceFriendlyId:
          type:
          - string
          - 'null'
        invoiceAmount:
          type:
          - number
          - 'null'
          description: Total invoice amount
        invoiceOpenBalance:
          type:
          - number
          - 'null'
          description: Invoice balance before this payment
        amount:
          type: number
          description: Amount applied to this invoice
    ShowNotes:
      type: string
      enum:
      - ALL
      - SPLIT
      description: 'Controls whether external notes are shown on all documents or split from carrier-facing notes.

        - `ALL`: Use external notes on customer-facing and carrier-facing documents

        - `SPLIT`: Use external notes on customer-facing documents and carrier notes on carrier-facing documents

        '
    CustomerAnnualRevenue:
      type: string
      enum:
      - _0_TO_500K
      - _500K_TO_3M
      - _3M_TO_10M
      - _10M_TO_25M
      - _25M_TO_50M
      - _50M_TO_100M
      - _100M_TO_500M
      - _500M_PLUS
      description: Annual revenue range
    DatetimeFilter:
      type: object
      description: Filter options for datetime fields
      properties:
        equalTo:
          type: string
          format: date-time
          description: Exact match
        notEqualTo:
          type: string
          format: date-time
          description: Not equal to
        lessThan:
          type: string
          format: date-time
          description: Before this datetime
        lessThanOrEqualTo:
          type: string
          format: date-time
          description: On or before this datetime
        greaterThan:
          type: string
          format: date-time
          description: After this datetime
        greaterThanOrEqualTo:
          type: string
          format: date-time
          description: On or after this datetime
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    UUIDSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for UUID fields
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - ONE_OF
          - NOT_ONE_OF
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `ONE_OF`: Matches any UUID in array

            - `NOT_ONE_OF`: Does not match any UUID in array

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        values:
          type: array
          items:
            type: string
            format: uuid
          description: Array of UUIDs for ONE_OF or NOT_ONE_OF operators
          example:
          - 550e8400-e29b-41d4-a716-446655440000
          - 550e8400-e29b-41d4-a716-446655440001
      example:
        operator: EQUALS
        values:
        - 550e8400-e29b-41d4-a716-446655440000
    CustomerSearchRow:
      type: object
      description: 'Flattened customer data from search index.

        Note: This represents only active customers. Soft-deleted records are never returned.

        '
      properties:
        object:
          type: string
          enum:
          - CUSTOMER_SEARCH_ROW
          description: Object type identifier for discriminating between flat and full response formats
        id:
          type: string
          format: uuid
        friendlyId:
          type: string
          example: CUST-0001
        name:
          type: string
        dbaName:
          type:
          - string
          - 'null'
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - PENDING
          - SUSPENDED
          - ARCHIVED
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
          description: State/Province code (uppercase)
        location:
          type:
          - string
          - 'null'
          description: Computed as "city, state"
        zip:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
          description: Country code (uppercase)
        teamId:
          type:
          - string
          - 'null'
          format: uuid
          description: Team ID (maps from groupId)
        teamName:
          type:
          - string
          - 'null'
          description: Team name (maps from groupName)
        userIds:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of users associated with this customer
        userNames:
          type: array
          items:
            type: string
          description: Names of users associated with this customer (may be hidden in some contexts)
        accountOwnerId:
          type:
          - string
          - 'null'
          format: uuid
        accountOwnerName:
          type:
          - string
          - 'null'
        operatedById:
          type:
          - string
          - 'null'
          format: uuid
        operatedByName:
          type:
          - string
          - 'null'
        primaryContactName:
          type:
          - string
          - 'null'
        primaryContactEmail:
          type:
          - string
          - 'null'
          format: email
        primaryContactPhone:
          type:
          - string
          - 'null'
        serviceTier:
          type:
          - string
          - 'null'
        yearsInBusiness:
          type:
          - string
          - 'null'
        numberOfEmployees:
          type:
          - string
          - 'null'
        industry:
          type:
          - string
          - 'null'
        sic:
          type:
          - string
          - 'null'
          description: Standard Industrial Classification code
        naics:
          type:
          - string
          - 'null'
          description: North American Industry Classification System code
        paymentTermName:
          type:
          - string
          - 'null'
        creditLimit:
          type:
          - number
          - 'null'
          format: float
        outstandingBalance:
          type:
          - number
          - 'null'
          format: float
        totalRevenue:
          type:
          - number
          - 'null'
          format: float
        totalTransportationCost:
          type:
          - number
          - 'null'
          format: float
        totalGrossProfit:
          type:
          - number
          - 'null'
          format: float
          description: Computed as totalRevenue - totalTransportationCost
        ordersCount:
          type:
          - integer
          - 'null'
          description: Number of non-canceled/rejected shipments
        quotesCount:
          type:
          - integer
          - 'null'
        quotesWon:
          type:
          - integer
          - 'null'
        quoteWinRate:
          type:
          - number
          - 'null'
          format: float
          description: Win rate percentage (0-100)
        mostRecentOrderCreationAt:
          type:
          - string
          - 'null'
          format: date-time
        nextFollowUp:
          type:
          - string
          - 'null'
          format: date
        lastOutreach:
          type:
          - string
          - 'null'
          format: date-time
        quickbooksCustomerId:
          type:
          - string
          - 'null'
          description: QuickBooks Online customer ID (maps from qboCustomerId)
        tags:
          type: array
          items:
            type: string
          description: Tag labels
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - object
      - id
      - friendlyId
      - name
      - status
      - createdAt
      - updatedAt
    OutstandingInvoicesResponse:
      type: object
      required:
      - invoices
      - totalOutstanding
      properties:
        invoices:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              friendlyId:
                type: string
              amount:
                type: number
              invoiceDate:
                type: string
                format: date
              dueDate:
                type:
                - string
                - 'null'
                format: date
              openBalance:
                type: number
              isOverdue:
                type: boolean
              payments:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    amount:
                      type: number
                    paymentDate:
                      type: string
                      format: date
        totalOutstanding:
          type: number
          description: Total outstanding balance for customer
    CustomerCurrencyFilter:
      type: object
      description: Filter options for CustomerCurrency enum
      properties:
        equalTo:
          $ref: '#/components/schemas/CustomerCurrency'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/CustomerCurrency'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/CustomerCurrency'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/CustomerCurrency'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    CustomerAnnualRevenueFilter:
      type: object
      description: Filter options for CustomerAnnualRevenue enum
      properties:
        equalTo:
          $ref: '#/components/schemas/CustomerAnnualRevenue'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/CustomerAnnualRevenue'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAnnualRevenue'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAnnualRevenue'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    ContactInfo:
      type: object
      description: 'Contact information details (nested, without id).


        This is an embedded object representing a Contact record. The id is managed

        internally and not exposed in the API.

        '
      required:
      - name
      properties:
        name:
          type: string
          description: Contact person's full name
          example: John Smith
        email:
          type:
          - string
          - 'null'
          format: email
          description: Email address
          example: john.smith@example.com
        phoneNumber:
          type:
          - string
          - 'null'
          description: Phone number
          example: +1-555-0100
        title:
          type:
          - string
          - 'null'
          description: Job title or position
          example: Operations Manager
    CustomerFilter:
      type: object
      description: Filter criteria for customers with AND/OR logic support
      properties:
        and:
          type: array
          description: All conditions must match (recursive)
          items:
            $ref: '#/components/schemas/CustomerFilter'
        or:
          type: array
          description: At least one condition must match (recursive)
          items:
            $ref: '#/components/schemas/CustomerFilter'
        not:
          $ref: '#/components/schemas/CustomerFilter'
          description: Negates the filter
        id:
          $ref: '#/components/schemas/IDFilter'
        name:
          $ref: '#/components/schemas/StringFilter'
        friendlyId:
          $ref: '#/components/schemas/StringFilter'
        status:
          $ref: '#/components/schemas/CustomerStatusFilter'
        serviceTier:
          $ref: '#/components/schemas/CustomerServiceTierFilter'
        website:
          $ref: '#/components/schemas/StringFilter'
        phoneNumber:
          $ref: '#/components/schemas/StringFilter'
        industry:
          $ref: '#/components/schemas/CustomerIndustryFilter'
        annualRevenue:
          $ref: '#/components/schemas/CustomerAnnualRevenueFilter'
        annualSpend:
          $ref: '#/components/schemas/CustomerAnnualSpendFilter'
        spendType:
          $ref: '#/components/schemas/CustomerSpendTypeFilter'
        naics:
          $ref: '#/components/schemas/StringFilter'
        ein:
          $ref: '#/components/schemas/StringFilter'
        duns:
          $ref: '#/components/schemas/StringFilter'
        leadSource:
          $ref: '#/components/schemas/StringFilter'
        deactivationReason:
          $ref: '#/components/schemas/CustomerDeactivationReasonFilter'
        numberOfEmployees:
          $ref: '#/components/schemas/CustomerNumberOfEmployeesFilter'
        currency:
          $ref: '#/components/schemas/CustomerCurrencyFilter'
        defaultMode:
          $ref: '#/components/schemas/CustomerTransportationModeFilter'
        key:
          $ref: '#/components/schemas/ClientKeyFilter'
        createdAt:
          $ref: '#/components/schemas/DatetimeFilter'
        updatedAt:
          $ref: '#/components/schemas/DatetimeFilter'
        deletedAt:
          $ref: '#/components/schemas/DatetimeFilter'
        closedAt:
          $ref: '#/components/schemas/DatetimeFilter'
        deactivationDate:
          $ref: '#/components/schemas/DatetimeFilter'
    payments_PaymentMethodType:
      type: string
      enum:
      - ACH_WIRE
      - ZELLE
      - VENMO
      - CHECK
      - EFT_DIRECT_DEPOSIT
      - E_TRANSFER
      - CREDIT_CARD
      description: 'Payment method type.

        - `ACH_WIRE`: ACH or wire transfer

        - `ZELLE`: Zelle payment

        - `VENMO`: Venmo payment

        - `CHECK`: Paper check

        - `EFT_DIRECT_DEPOSIT`: EFT direct deposit

        - `E_TRANSFER`: Electronic transfer

        - `CREDIT_CARD`: Credit card payment

        '
    CustomerSearchResponse:
      type: object
      description: 'Response for customer search requests.

        Note: Only active (non-deleted) customers are included in results.

        '
      required:
      - data
      - pagination
      - totalResults
      properties:
        data:
          type: array
          description: Search results - either flat rows or full customer objects based on format parameter
          items:
            oneOf:
            - $ref: '#/components/schemas/CustomerSearchRow'
            - $ref: '#/components/schemas/Customer'
            discriminator:
              propertyName: object
              mapping:
                CUSTOMER_SEARCH_ROW: '#/components/schemas/CustomerSearchRow'
                CUSTOMER: '#/components/schemas/Customer'
        pagination:
          $ref: '#/components/schemas/SearchPaginationInfo'
        totalResults:
          type: integer
          description: Total number of matching results (excluding soft-deleted records)
          minimum: 0
    ResourceReference:
      type: object
      description: Reference to another resource (returned in responses)
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          description: Resource UUID
        key:
          type:
          - string
          - 'null'
          description: Client-defined reference ID if set
      example:
        id: 550e8400-e29b-41d4-a716-446655440000
        key: ERP-USER-12345
    CustomerServiceTier:
      type: string
      enum:
      - TIER_1
      - TIER_2
      - TIER_3
      description: Service tier level for the customer
    Error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
    CustomerDeactivationReasonFilter:
      type: object
      description: Filter options for CustomerDeactivationReason enum
      properties:
        equalTo:
          $ref: '#/components/schemas/CustomerDeactivationReason'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/CustomerDeactivationReason'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/CustomerDeactivationReason'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/CustomerDeactivationReason'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    TextSearchCriteria:
      type: object
      required:
      - operator
      description: Search criteria for text fields (supports wildcards and partial matching)
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - STARTS_WITH
          - ENDS_WITH
          - INCLUDES
          - ONE_OF
          - NOT_ONE_OF
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `STARTS_WITH`: Begins with prefix

            - `ENDS_WITH`: Ends with suffix

            - `INCLUDES`: Contains substring

            - `ONE_OF`: Matches any value in array

            - `NOT_ONE_OF`: Does not match any value in array

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        values:
          type: array
          items:
            type: string
          description: Array of values for ONE_OF or NOT_ONE_OF operators
          example:
          - value1
          - value2
      example:
        operator: INCLUDES
        values:
        - search term
    CustomerStatusFilter:
      type: object
      description: Filter options for CustomerStatus enum
      properties:
        equalTo:
          $ref: '#/components/schemas/CustomerStatus'
          description: Exact match
        notEqualTo:
          $ref: '#/components/schemas/CustomerStatus'
          description: Not equal to
        in:
          type: array
          items:
            $ref: '#/components/schemas/CustomerStatus'
          description: Matches any value in the array
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/CustomerStatus'
          description: Does not match any value in the array
        isNull:
          type: boolean
          description: Field is null (true) or not null (false)
    CustomerContactReference:
      type: object
      description: 'Customer contact reference for embedding in Customer responses.

        Identical to CustomerContact but excludes the customer and customerId fields to avoid circular references.

        '
      required:
      - id
      - name
      - isPrimary
      - contactInfo
      - createdAt
      properties:
        object:
          type: string
          enum:
          - CUSTOMER_CONTACT
          readOnly: true
          description: Object type identifier
          example: CUSTOMER_CONTACT
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique contact identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        key:
          type:
          - string
          - 'null'
          maxLength: 512
          description: Client-defined reference identifier
          example: ERP-CONTACT-JOHN-001
        name:
          type: string
          description: Contact person's name
          example: John Smith
        contactInfo:
          allOf:
          - $ref: '#/components/schemas/ContactInfo'
          description: Contact information details (email, phone, title)
        phoneExtension:
          type:
          - string
          - 'null'
          description: Phone extension specific to this contact role
          example: '1234'
        isPrimary:
          type: boolean
          description: Whether this is the primary contact
          example: true
        contactTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerContactType'
          description: Types/roles this contact serves
          example:
          - BILLING
          - ACCOUNT_MANAGER
        notifications:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerContactNotificationType'
          description: Shipment notification types
          example:
          - SHIPMENT_PICKED_UP
          - SHIPMENT_DELIVERED
        invitedUser:
          anyOf:
          - $ref: '#/components/schemas/UserReference'
          - type: 'null'
          readOnly: true
          description: User account invited/created for this contact
        deletedBy:
          anyOf:
          - $ref: '#/components/schemas/UserReference'
          - type: 'null'
          readOnly: true
          description: User who deleted this contact
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: When the contact was created
          example: '2025-01-15T10:00:00Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: When the contact was soft deleted
          example: null
    Address:
      type: object
      description: 'Physical address/location details (nested, without id).


        This is an embedded object representing a Location record. The id is managed

        internally and not exposed in the API.

        '
      required:
      - line1
      - city
      - country
      - market
      - isAirportOrAirbase
      - isConstructionOrUtilitySite
      - isSmartyValidated
      - obeysDst
      properties:
        line1:
          type: string
          description: Primary street address line
          example: 123 Main St
        line2:
          type:
          - string
          - 'null'
          description: Secondary address line (suite, floor, etc.)
          example: Suite 400
        city:
          type: string
          description: City name
          example: Chicago
        country:
          type: string
          description: Country name or code
          example: USA
        market:
          type: string
          description: Market or region identifier
          example: CHI
        latitude:
          type:
          - string
          - 'null'
          description: Latitude coordinate
          example: '41.8781'
        longitude:
          type:
          - string
          - 'null'
          description: Longitude coordinate
          example: '-87.6298'
        isAirportOrAirbase:
          type: boolean
          description: Whether this location is an airport or airbase
          example: false
        isConstructionOrUtilitySite:
          type: boolean
          description: Whether this location is a construction or utility site
          example: false
        isSmartyValidated:
          type: boolean
          description: Whether address has been validated by SmartyStreets
          example: true
        obeysDst:
          type: boolean
          description: Whether this location observes daylight saving time
          example: true
        cityId:
          type:
          - string
          - 'null'
          format: uuid
          description: Reference to standardized city record (internal use)
          example: null
    CustomerTransportationMode:
      type: string
      enum:
      - FTL
      - LTL
      - AIR
      - OCEAN
      - RAIL
      - INTERMODAL
      - DRAYAGE
      - EXPEDITED_GROUND
      - EXPEDITED_AIR
      - AUTO
      - PTL
      description: Transportation mode type
    DatetimeSearchCriteria:
      type: object
      required:
      - operator
      description: 'Search criteria for datetime fields.

        Supports both absolute datetime values and relative time expressions.

        '
      properties:
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - BEFORE
          - AFTER
          - BETWEEN
          - NOT_BETWEEN
          - EXISTS
          - DOES_NOT_EXIST
          description: 'Search operator:

            - `EQUALS`: Exact match

            - `NOT_EQUALS`: Not equal to

            - `BEFORE`: Before datetime

            - `AFTER`: After datetime

            - `BETWEEN`: Between min and max (inclusive)

            - `NOT_BETWEEN`: Not between min and max

            - `EXISTS`: Field has a value (not null)

            - `DOES_NOT_EXIST`: Field is null

            '
        value:
          type: string
          format: date-time
          description: Absolute datetime for EQUALS, NOT_EQUALS
          example: '2025-01-15T10:00:00Z'
        min:
          type: string
          format: date-time
          description: Minimum datetime for BETWEEN or NOT_BETWEEN
          example: '2025-01-01T00:00:00Z'
        max:
          type: string
          format: date-time
          description: Maximum datetime for BETWEEN or NOT_BETWEEN
          example: '2025-12-31T23:59:59Z'
        valueRelative:
          type: integer
          description: 'Relative time from now (negative for past, positive for future).

            Example: -7 with WEEK unit means 7 weeks ago.

            '
        valueRelativeUnit:
          $ref: '#/components/schemas/RelativeTimeUnit'
        minRelative:
          type: integer
          description: Relative time for min boundary
        minRelativeUnit:
          $ref: '#/components/schemas/RelativeTimeUnit'
        maxRelative:
          type: integer
          description: Relative time for max boundary
        maxRelativeUnit:
          $ref: '#/components/schemas/RelativeTimeUnit'
      example:
        operator: AFTER
        value: '2025-01-01T00:00:00Z'
    AddressPatch:
      type: object
      description: 'Partial address update. All fields are optional.


        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable

        '
      properties:
        line1:
          type: string
          description: Primary street address line
          example: 123 Main St
        line2:
          type:
          - string
          - 'null'
          description: Secondary address line
          example: Suite 400
        city:
          type: string
          description: City name
          example: Chicago
        country:
          type: string
          description: Country name or code
          example: USA
        market:
          type: string
          description: Market or region identifier
          example: CHI
        latitude:
          type:
          - string
          - 'null'
          description: Latitude coordinate
          example: '41.8781'
        longitude:
          type:
          - string
          - 'null'
          description: Longitude coordinate
          example: '-87.6298'
        isAirportOrAirbase:
          type: boolean
          description: Whether this location is an airport or airbase
          example: false
        isConstructionOrUtilitySite:
          type: boolean
          description: Whether this location is a construction or utility site
          example: false
        isSmartyValidated:
          type: boolean
          description: Whether address has been validated by SmartyStreets
          example: true
        obeysDst:
          type: boolean
          description: Whether this location observes daylight saving time
          example: true
        cityId:
          type:
          - string
          - 'null'
          format: uuid
          description: Reference to standardized city record
[...]
