openapi: 3.1.0
info:
  title: MVMNT API
  version: 1.0.0
  description: >
    The MVMNT API enables you to automate freight brokerage workflows by
    integrating

    directly with our Transportation Management System.


    ## Authentication


    OAuth 2.0 client credentials flow. See [Authentication
    Guide](/getting-started/authentication)

    for details.


    ### Token Endpoint


    ```

    POST https://api.mvmnt.io/oauth2/token

    ```


    #### Request


    **Headers:**

    ```http

    Content-Type: application/x-www-form-urlencoded

    ```


    **Body Parameters:**

    ```

    grant_type=client_credentials

    client_id=YOUR_CLIENT_ID

    client_secret=YOUR_CLIENT_SECRET

    ```


    #### Example Request


    ```bash

    curl -X POST https://api.mvmnt.io/oauth2/token \
      -H "Content-Type: application/x-www-form-urlencoded" \
      -d "grant_type=client_credentials" \
      -d "client_id=YOUR_CLIENT_ID" \
      -d "client_secret=YOUR_CLIENT_SECRET"
    ```


    #### Success Response


    **Status:** `200 OK`


    ```json

    {
      "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...",
      "token_type": "Bearer",
      "expires_in": 3600
    }

    ```


    **Response Fields:**

    - `access_token`: JWT Bearer token to use for API requests

    - `token_type`: Always `Bearer`

    - `expires_in`: Token lifetime in seconds (3600 = 1 hour)
  contact:
    name: MVMNT Support
    email: support@mvmnt.io
    url: https://docs.mvmnt.io
  license:
    name: Proprietary
    url: https://mvmnt.io/legal/terms
  x-parsed-md-description:
    result:
      - $$mdtype: Node
        errors: []
        lines:
          - 0
          - 2
        inline: false
        attributes: {}
        children:
          - $$mdtype: Node
            errors: []
            lines:
              - 0
              - 2
            inline: false
            attributes: {}
            children:
              - $$mdtype: Node
                errors: []
                lines:
                  - 0
                  - 2
                inline: true
                attributes:
                  content: >-
                    The MVMNT API enables you to automate freight brokerage
                    workflows by integrating
                children: []
                type: text
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                  - 0
                  - 2
                inline: true
                attributes: {}
                children: []
                type: softbreak
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                  - 0
                  - 2
                inline: true
                attributes:
                  content: directly with our Transportation Management System.
                children: []
                type: text
                annotations: []
                slots: {}
            type: inline
            annotations: []
            slots: {}
        type: paragraph
        annotations: []
        slots: {}
      - $$mdtype: Node
        errors: []
        lines:
          - 3
          - 4
        inline: false
        attributes:
          level: 2
        children:
          - $$mdtype: Node
            errors: []
            lines:
              - 3
              - 4
            inline: false
            attributes: {}
            children:
              - $$mdtype: Node
                errors: []
                lines:
                  - 3
                  - 4
                inline: true
                attributes:
                  content: Authentication
                children: []
                type: text
                annotations: []
                slots: {}
            type: inline
            annotations: []
            slots: {}
        type: heading
        annotations: []
        slots: {}
      - $$mdtype: Node
        errors: []
        lines:
          - 5
          - 6
        inline: false
        attributes: {}
        children:
          - $$mdtype: Node
            errors: []
            lines:
              - 5
              - 6
            inline: false
            attributes: {}
            children:
              - $$mdtype: Node
                errors: []
                lines:
                  - 5
                  - 6
                inline: true
                attributes:
                  content: 'OAuth 2.0 client credentials flow. See '
                children: []
                type: text
                annotations: []
                slots: {}
              - $$mdtype: Node
                errors: []
                lines:
                  - 5
                  - 6
                inline: true
                attributes:
                  href: /getting-started/authentication
                children:
                  - $$mdtype: Node
                    errors: []
                    lines:
                      - 5
                      - 6
                    inline: true
                    attributes:
                      content: Authentication Guide
                    children: []
                    type: text
                    annotations: []
                    slots: {}
                type: link
                annotations: []
                slots: {}
                redocly:::linkOriginal:href: /getting-started/authentication
              - $$mdtype: Node
                errors: []
                lines:
                  - 5
                  - 6
                inline: true
                attributes:
                  content: ' for details.'
                children: []
                type: text
                annotations: []
                slots: {}
            type: inline
            annotations: []
            slots: {}
        type: paragraph
        annotations: []
        slots: {}
servers:
  - url: https://api.mvmnt.io/v1
    description: Production
webhooks:
  your-endpoint:
    post:
      summary: Webhook Event
      description: >
        All webhook events are delivered to your configured endpoint URL.


        The `event` field in the payload determines which type of webhook was
        triggered.

        Your endpoint should handle all event types or gracefully ignore unknown
        events.


        **Event Types:**

        - Entity changes: `CUSTOMER_*`, `COMPANY_*`, `CARRIER_*`,
        `CUSTOMER_CONTACT_*`

        - Shipment events: `SHIPMENT_DELIVERED`, `SHIPMENT_BOOKED`,
        `SHIPMENT_DISPATCHED`, etc.

        - Financial events: `CARRIER_INVOICE_CREATED`,
        `CUSTOMER_PAYMENT_CREATED`, etc.


        **Security:** All webhook requests include an `x-api-key` header
        containing your webhook token configured in the MVMNT UI.


        **Best Practices:**

        - Return 200 OK quickly and process asynchronously

        - Implement idempotency using event ID and timestamp

        - Handle unknown event types gracefully for forward compatibility
      operationId: webhookCallback
      tags:
        - Event Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookDelivery'
            examples:
              customer_created:
                summary: Customer created
                value:
                  sentAt: '2025-01-15T14:30:05Z'
                  events:
                    - event: CUSTOMER_CREATED
                      timestamp: '2025-01-15T14:30:00Z'
                      data:
                        id: 660e8400-e29b-41d4-a716-446655440000
                        name: Acme Corporation
                        friendlyId: A123456
                        status: ACTIVE
                        serviceTier: PLATINUM
                        website: https://acme-manufacturing.com
                        phoneNumber: +1-555-123-4567
                        industry: MANUFACTURING
                        annualRevenue: OVER_100M
                        annualSpend: 10M_TO_50M
                        spendType: CONTRACT
                        naics: '336411'
                        ein: 12-3456789
                        duns: '123456789'
                        leadSource: Referral
                        dbaName: Acme Corp DBA
                        numberOfEmployees: 1000_TO_5000
                        externalId: EXT-12345
                        currency: USD
                        creditLimit: 50000
                        creditUsageWarning: 40000
                        freeCreditReq: 5000
                        defaultMode: FTL
                        defaultMargin: 0.15
                        minMargin: 0.1
                        maxMargin: 0.25
                        defaultInternalNotes: Contact via email only
                        defaultCarrierNotes: Call pickup contact before arrival
                        defaultExternalNotes: Please call 1 hour before delivery
                        defaultShowNotes: SPLIT
                        autoAcceptTender: false
                        group: null
                        paymentTerm:
                          id: 123e4567-e89b-12d3-a456-426614174000
                          name: Net 30
                          key: null
                        notes: Prefers email communication
                        deactivationReason: null
                        deactivationNotes: null
                        deactivationDate: null
                        closedAt: null
                        closedBy: null
                        closedNotes: null
                        corporateAddress:
                          addressLine1: 123 Corporate Blvd
                          addressLine2: Suite 100
                          city: Chicago
                          state: IL
                          postalCode: '60601'
                          country: USA
                          latitude: 41.8781
                          longitude: -87.6298
                        billingAddress:
                          addressLine1: 456 Billing Ave
                          addressLine2: null
                          city: Chicago
                          state: IL
                          postalCode: '60602'
                          country: USA
                          latitude: 41.8827
                          longitude: -87.6233
                        qboCustomerId: null
                        key: ERP-CUSTOMER-12345
                        createdAt: '2025-01-15T14:30:00Z'
                        updatedAt: '2025-01-15T14:30:00Z'
                        deletedAt: null
                      diff: null
              customer_updated:
                summary: Customer updated with diff
                value:
                  sentAt: '2025-01-15T15:45:05Z'
                  events:
                    - event: CUSTOMER_UPDATED
                      timestamp: '2025-01-15T15:45:00Z'
                      data:
                        id: 660e8400-e29b-41d4-a716-446655440000
                        name: Acme Corporation
                        friendlyId: A123456
                        status: INACTIVE
                        serviceTier: GOLD
                        website: https://acme-manufacturing.com
                        phoneNumber: +1-555-999-8888
                        industry: MANUFACTURING
                        annualRevenue: OVER_100M
                        annualSpend: 50M_TO_100M
                        spendType: CONTRACT
                        naics: '336411'
                        ein: 12-3456789
                        duns: '123456789'
                        leadSource: Referral
                        dbaName: Acme Corp DBA
                        numberOfEmployees: 1000_TO_5000
                        externalId: EXT-12345
                        currency: USD
                        creditLimit: 75000
                        creditUsageWarning: 60000
                        freeCreditReq: 5000
                        defaultMode: FTL
                        defaultMargin: 0.15
                        minMargin: 0.1
                        maxMargin: 0.25
                        defaultInternalNotes: Contact via email only
                        defaultCarrierNotes: Call pickup contact before arrival
                        defaultExternalNotes: Please call 1 hour before delivery
                        defaultShowNotes: SPLIT
                        autoAcceptTender: false
                        group: null
                        paymentTerm:
                          id: 123e4567-e89b-12d3-a456-426614174000
                          name: Net 30
                          key: null
                        notes: Prefers email communication. Account under review.
                        deactivationReason: PAYMENT_ISSUES
                        deactivationNotes: Multiple late payments
                        deactivationDate: '2025-01-15T15:45:00Z'
                        closedAt: null
                        closedBy: null
                        closedNotes: null
                        corporateAddress:
                          addressLine1: 123 Corporate Blvd
                          addressLine2: Suite 100
                          city: Chicago
                          state: IL
                          postalCode: '60601'
                          country: USA
                          latitude: 41.8781
                          longitude: -87.6298
                        billingAddress:
                          addressLine1: 456 Billing Ave
                          addressLine2: null
                          city: Chicago
                          state: IL
                          postalCode: '60602'
                          country: USA
                          latitude: 41.8827
                          longitude: -87.6233
                        qboCustomerId: null
                        key: ERP-CUSTOMER-12345
                        createdAt: '2025-01-15T14:30:00Z'
                        updatedAt: '2025-01-15T15:45:00Z'
                        deletedAt: null
                      diff:
                        - type: UPDATE
                          key: status
                          value: INACTIVE
                          oldValue: ACTIVE
                        - type: UPDATE
                          key: serviceTier
                          value: GOLD
                          oldValue: PLATINUM
                        - type: UPDATE
                          key: phoneNumber
                          value: +1-555-999-8888
                          oldValue: +1-555-123-4567
                        - type: UPDATE
                          key: annualSpend
                          value: 50M_TO_100M
                          oldValue: 10M_TO_50M
                        - type: UPDATE
                          key: creditLimit
                          value: 75000
                          oldValue: 50000
                        - type: UPDATE
                          key: creditUsageWarning
                          value: 60000
                          oldValue: 40000
                        - type: UPDATE
                          key: notes
                          value: Prefers email communication. Account under review.
                          oldValue: Prefers email communication
                        - type: ADD
                          key: deactivationReason
                          value: PAYMENT_ISSUES
                        - type: ADD
                          key: deactivationNotes
                          value: Multiple late payments
                        - type: ADD
                          key: deactivationDate
                          value: '2025-01-15T15:45:00Z'
              customer_deleted:
                summary: Customer deleted
                value:
                  sentAt: '2025-01-15T16:00:05Z'
                  events:
                    - event: CUSTOMER_DELETED
                      timestamp: '2025-01-15T16:00:00Z'
                      data:
                        id: 660e8400-e29b-41d4-a716-446655440000
                      diff: null
              company_created:
                summary: Company created
                value:
                  sentAt: '2025-01-15T09:00:05Z'
                  events:
                    - event: COMPANY_CREATED
                      timestamp: '2025-01-15T09:00:00Z'
                      data:
                        id: 550e8400-e29b-41d4-a716-446655440000
                        name: Acme Logistics Inc
                        addressLine1: 123 Main St
                        addressLine2: Suite 400
                        city: Chicago
                        country: USA
                        fax: +1-555-0123
                        invoiceOnly: false
                        invoiceVerbiage: Please remit payment within 30 days
                        primaryContactName: John Smith
                        primaryContactEmail: john.smith@acmelogistics.com
                        primaryContactPhone: +1-555-0100
                        createdBy:
                          id: 550e8400-e29b-41d4-a716-446655440009
                          email: admin@example.com
                          name: Admin User
                        key: ERP-COMPANY-ACME-001
                        createdAt: '2025-01-15T09:00:00Z'
                        updatedAt: '2025-01-15T09:00:00Z'
                        deletedAt: null
                      diff: null
              company_updated:
                summary: Company updated with diff
                value:
                  sentAt: '2025-01-15T11:00:05Z'
                  events:
                    - event: COMPANY_UPDATED
                      timestamp: '2025-01-15T11:00:00Z'
                      data:
                        id: 550e8400-e29b-41d4-a716-446655440000
                        name: Acme Logistics Corporation
                        addressLine1: 456 New Ave
                        addressLine2: Suite 200
                        city: New York
                        country: USA
                        fax: +1-555-0124
                        invoiceOnly: true
                        invoiceVerbiage: Payment due upon receipt
                        primaryContactName: Jane Doe
                        primaryContactEmail: jane.doe@acmelogistics.com
                        primaryContactPhone: +1-555-0101
                        createdBy:
                          id: 550e8400-e29b-41d4-a716-446655440009
                          email: admin@example.com
                          name: Admin User
                        key: ERP-COMPANY-ACME-001
                        createdAt: '2025-01-15T09:00:00Z'
                        updatedAt: '2025-01-15T11:00:00Z'
                        deletedAt: null
                      diff:
                        - type: UPDATE
                          key: name
                          value: Acme Logistics Corporation
                          oldValue: Acme Logistics Inc
                        - type: UPDATE
                          key: addressLine1
                          value: 456 New Ave
                          oldValue: 123 Main St
                        - type: UPDATE
                          key: addressLine2
                          value: Suite 200
                          oldValue: Suite 400
                        - type: UPDATE
                          key: city
                          value: New York
                          oldValue: Chicago
                        - type: UPDATE
                          key: fax
                          value: +1-555-0124
                          oldValue: +1-555-0123
                        - type: UPDATE
                          key: invoiceOnly
                          value: true
                          oldValue: false
                        - type: UPDATE
                          key: invoiceVerbiage
                          value: Payment due upon receipt
                          oldValue: Please remit payment within 30 days
                        - type: UPDATE
                          key: primaryContactName
                          value: Jane Doe
                          oldValue: John Smith
                        - type: UPDATE
                          key: primaryContactEmail
                          value: jane.doe@acmelogistics.com
                          oldValue: john.smith@acmelogistics.com
                        - type: UPDATE
                          key: primaryContactPhone
                          value: +1-555-0101
                          oldValue: +1-555-0100
              company_deleted:
                summary: Company deleted
                value:
                  sentAt: '2025-01-15T12:00:05Z'
                  events:
                    - event: COMPANY_DELETED
                      timestamp: '2025-01-15T12:00:00Z'
                      data:
                        id: 550e8400-e29b-41d4-a716-446655440000
                      diff: null
              customer_contact_created:
                summary: Customer contact created
                value:
                  sentAt: '2025-01-15T13:00:05Z'
                  events:
                    - event: CUSTOMER_CONTACT_CREATED
                      timestamp: '2025-01-15T13:00:00Z'
                      data:
                        id: 990e8400-e29b-41d4-a716-446655440002
                        customer:
                          id: 660e8400-e29b-41d4-a716-446655440000
                          name: Acme Corporation
                          friendlyId: A123456
                        name: Sarah Johnson
                        contactInfo:
                          name: Sarah Johnson
                          email: sarah.johnson@example.com
                          phone: +1-555-0123
                          title: Logistics Manager
                        phoneExtension: '1234'
                        isPrimary: true
                        contactTypes:
                          - BILLING
                          - ACCOUNT_MANAGER
                        notifications:
                          - SHIPMENT_PICKED_UP
                          - SHIPMENT_DELIVERED
                        invitedUser: null
                        deletedBy: null
                        key: ERP-CONTACT-SARAH-001
                        createdAt: '2025-01-15T13:00:00Z'
                        deletedAt: null
                      diff: null
              customer_contact_updated:
                summary: Customer contact updated with diff
                value:
                  sentAt: '2025-01-15T13:30:05Z'
                  events:
                    - event: CUSTOMER_CONTACT_UPDATED
                      timestamp: '2025-01-15T13:30:00Z'
                      data:
                        id: 990e8400-e29b-41d4-a716-446655440002
                        customer:
                          id: 660e8400-e29b-41d4-a716-446655440000
                          name: Acme Corporation
                          friendlyId: A123456
                        name: Sarah Johnson-Smith
                        contactInfo:
                          name: Sarah Johnson-Smith
                          email: sarah.js@example.com
                          phone: +1-555-9999
                          title: Senior Logistics Manager
                        phoneExtension: '5678'
                        isPrimary: false
                        contactTypes:
                          - BILLING
                          - PROCUREMENT
                          - RATES_PRICING
                        notifications:
                          - SHIPMENT_IN_TRANSIT
                          - SHIPMENT_DELIVERED
                          - SHIPMENT_TENDER_REJECTED
                        invitedUser:
                          id: 880e8400-e29b-41d4-a716-446655440003
                          email: sarah.js@example.com
                          name: Sarah Johnson-Smith
                        deletedBy: null
                        key: ERP-CONTACT-SARAH-001
                        createdAt: '2025-01-15T13:00:00Z'
                        deletedAt: null
                      diff:
                        - type: UPDATE
                          key: name
                          value: Sarah Johnson-Smith
                          oldValue: Sarah Johnson
                        - type: UPDATE
                          key: contactInfo
                          changes:
                            - type: UPDATE
                              key: name
                              value: Sarah Johnson-Smith
                              oldValue: Sarah Johnson
                            - type: UPDATE
                              key: email
                              value: sarah.js@example.com
                              oldValue: sarah.johnson@example.com
                            - type: UPDATE
                              key: phone
                              value: +1-555-9999
                              oldValue: +1-555-0123
                            - type: UPDATE
                              key: title
                              value: Senior Logistics Manager
                              oldValue: Logistics Manager
                        - type: UPDATE
                          key: phoneExtension
                          value: '5678'
                          oldValue: '1234'
                        - type: UPDATE
                          key: isPrimary
                          value: false
                          oldValue: true
                        - type: UPDATE
                          key: contactTypes
                          changes:
                            - type: REMOVE
                              key: '1'
                              oldValue: ACCOUNT_MANAGER
                            - type: ADD
                              key: '1'
                              value: PROCUREMENT
                            - type: ADD
                              key: '2'
                              value: RATES_PRICING
                        - type: UPDATE
                          key: notifications
                          changes:
                            - type: UPDATE
                              key: '0'
                              value: SHIPMENT_IN_TRANSIT
                              oldValue: SHIPMENT_PICKED_UP
                            - type: ADD
                              key: '2'
                              value: SHIPMENT_TENDER_REJECTED
                        - type: ADD
                          key: invitedUser
                          value:
                            id: 880e8400-e29b-41d4-a716-446655440003
                            email: sarah.js@example.com
                            name: Sarah Johnson-Smith
              customer_contact_deleted:
                summary: Customer contact deleted
                value:
                  sentAt: '2025-01-15T14:00:05Z'
                  events:
                    - event: CUSTOMER_CONTACT_DELETED
                      timestamp: '2025-01-15T14:00:00Z'
                      data:
                        id: 990e8400-e29b-41d4-a716-446655440002
                      diff: null
              carrier_created:
                summary: Carrier created (truckload)
                value:
                  sentAt: '2025-01-15T08:00:05Z'
                  events:
                    - event: CARRIER_CREATED
                      timestamp: '2025-01-15T08:00:00Z'
                      data:
                        id: 770e8400-e29b-41d4-a716-446655440000
                        friendlyId: C123456
                        type: TRUCKLOAD
                        name: Fast Transport LLC
                        dbaName: Fast Logistics
                        key: ERP-CARRIER-FAST-001
                        email: dispatch@fasttransport.com
                        phone: +1-555-0200
                        website: https://fasttransport.com
                        status: ACTIVE
                        statusReason: null
                        notes: Preferred carrier for midwest routes
                        corporateAddress:
                          addressLine1: 789 Transport Way
                          addressLine2: null
                          city: Dallas
                          state: TX
                          postalCode: '75201'
                          country: USA
                          latitude: 32.7767
                          longitude: -96.797
                        billingAddress:
                          addressLine1: PO Box 12345
                          addressLine2: null
                          city: Dallas
                          state: TX
                          postalCode: '75202'
                          country: USA
                          latitude: null
                          longitude: null
                        mcNumber: MC-123456
                        dotNumber: '1234567'
                        scac: FAST
                        einNumber: 12-3456789
                        ffNumber: null
                        mxNumber: null
                        rfcNumber: null
                        iataCode: null
                        equipments:
                          - VAN
                          - REEFER
                          - FLATBED
                        isHazmat: false
                        tsaApproved: true
                        trucks: 50
                        trailers: 100
                        drivers: 75
                        powerUnits: 50
                        currency: USD
                        paymentTerm:
                          id: 550e8400-e29b-41d4-a716-446655440002
                          name: Net 30
                          key: null
                        isFactoringPreferred: false
                        goldenCarrierId: null
                        insuranceCompany: State Farm Insurance
                        insuranceAgent: John Smith
                        insuranceAgentPhone: +1-555-123-4567
                        insuranceAuthorityDate: '2025-01-01T00:00:00Z'
                        insuranceExpirationDate: '2025-12-31T23:59:59Z'
                        insuranceAutoLiabilityLimit: 1000000
                        insuranceCargoLiabilityLimit: 100000
                        insuranceGeneralLiabilityLimit: 1000000
                        rating: SATISFACTORY
                        ratingDate: '2025-01-15'
                        reviewType: COMPLIANCE_REVIEW
                        reviewDate: '2025-01-15'
                        operatingAbility: AUTHORIZED
                        inFmcsa: true
                        usDriverInspections: 100
                        usDriverInspectionsOos: 5
                        usDriverInspectionsOosPct: 5
                        usVehicleInspections: 150
                        usVehicleInspectionsOos: 8
                        usVehicleInspectionsOosPct: 5.33
                        createdAt: '2025-01-15T08:00:00Z'
                        updatedAt: '2025-01-15T08:00:00Z'
                        deletedAt: null
                      diff: null
              carrier_updated:
                summary: Carrier updated with diff
                value:
                  sentAt: '2025-01-15T10:30:05Z'
                  events:
                    - event: CARRIER_UPDATED
                      timestamp: '2025-01-15T10:30:00Z'
                      data:
                        id: 770e8400-e29b-41d4-a716-446655440000
                        friendlyId: C123456
                        type: TRUCKLOAD
                        name: Fast Transport LLC
                        dbaName: Fast Logistics Express
                        key: ERP-CARRIER-FAST-001
                        email: newdispatch@fasttransport.com
                        phone: +1-555-0201
                        website: https://fasttransport.com
                        status: INACTIVE
                        statusReason: Contract expired
                        notes: Contract renewal pending. Good safety record.
                        corporateAddress:
                          addressLine1: 789 Transport Way
                          addressLine2: Building B
                          city: Dallas
                          state: TX
                          postalCode: '75201'
                          country: USA
                          latitude: 32.7767
                          longitude: -96.797
                        billingAddress:
                          addressLine1: PO Box 12345
                          addressLine2: null
                          city: Dallas
                          state: TX
                          postalCode: '75202'
                          country: USA
                          latitude: null
                          longitude: null
                        mcNumber: MC-123456
                        dotNumber: '1234567'
                        scac: FAST
                        einNumber: 12-3456789
                        ffNumber: null
                        mxNumber: null
                        rfcNumber: null
                        iataCode: null
                        equipments:
                          - VAN
                          - REEFER
                          - FLATBED
                          - POWER_ONLY
                        isHazmat: true
                        tsaApproved: true
                        trucks: 60
                        trailers: 120
                        drivers: 85
                        powerUnits: 60
                        currency: USD
                        paymentTerm:
                          id: 550e8400-e29b-41d4-a716-446655440002
                          name: Net 30
                          key: null
                        isFactoringPreferred: false
                        goldenCarrierId: null
                        insuranceCompany: State Farm Insurance
                        insuranceAgent: Jane Doe
                        insuranceAgentPhone: +1-555-123-4568
                        insuranceAuthorityDate: '2025-01-01T00:00:00Z'
                        insuranceExpirationDate: '2026-12-31T23:59:59Z'
                        insuranceAutoLiabilityLimit: 2000000
                        insuranceCargoLiabilityLimit: 250000
                        insuranceGeneralLiabilityLimit: 2000000
                        rating: SATISFACTORY
                        ratingDate: '2025-01-15'
                        reviewType: COMPLIANCE_REVIEW
                        reviewDate: '2025-01-15'
                        operatingAbility: AUTHORIZED
                        inFmcsa: true
                        usDriverInspections: 110
                        usDriverInspectionsOos: 4
                        usDriverInspectionsOosPct: 3.64
                        usVehicleInspections: 165
                        usVehicleInspectionsOos: 7
                        usVehicleInspectionsOosPct: 4.24
                        createdAt: '2025-01-15T08:00:00Z'
                        updatedAt: '2025-01-15T10:30:00Z'
                        deletedAt: null
                      diff:
                        - type: UPDATE
                          key: dbaName
                          value: Fast Logistics Express
                          oldValue: Fast Logistics
                        - type: UPDATE
                          key: email
                          value: newdispatch@fasttransport.com
                          oldValue: dispatch@fasttransport.com
                        - type: UPDATE
                          key: phone
                          value: +1-555-0201
                          oldValue: +1-555-0200
                        - type: UPDATE
                          key: status
                          value: INACTIVE
                          oldValue: ACTIVE
                        - type: ADD
                          key: statusReason
                          value: Contract expired
                        - type: UPDATE
                          key: notes
                          value: Contract renewal pending. Good safety record.
                          oldValue: Preferred carrier for midwest routes
                        - type: UPDATE
                          key: corporateAddress
                          changes:
                            - type: ADD
                              key: addressLine2
                              value: Building B
                        - type: UPDATE
                          key: equipments
                          changes:
                            - type: ADD
                              key: '3'
                              value: POWER_ONLY
                        - type: UPDATE
                          key: isHazmat
                          value: true
                          oldValue: false
                        - type: UPDATE
                          key: trucks
                          value: 60
                          oldValue: 50
                        - type: UPDATE
                          key: trailers
                          value: 120
                          oldValue: 100
                        - type: UPDATE
                          key: drivers
                          value: 85
                          oldValue: 75
                        - type: UPDATE
                          key: powerUnits
                          value: 60
                          oldValue: 50
                        - type: UPDATE
                          key: insuranceAgent
                          value: Jane Doe
                          oldValue: John Smith
                        - type: UPDATE
                          key: insuranceAgentPhone
                          value: +1-555-123-4568
                          oldValue: +1-555-123-4567
                        - type: UPDATE
                          key: insuranceExpirationDate
                          value: '2026-12-31T23:59:59Z'
                          oldValue: '2025-12-31T23:59:59Z'
                        - type: UPDATE
                          key: insuranceAutoLiabilityLimit
                          value: 2000000
                          oldValue: 1000000
                        - type: UPDATE
                          key: insuranceCargoLiabilityLimit
                          value: 250000
                          oldValue: 100000
                        - type: UPDATE
                          key: insuranceGeneralLiabilityLimit
                          value: 2000000
                          oldValue: 1000000
                        - type: UPDATE
                          key: usDriverInspections
                          value: 110
                          oldValue: 100
                        - type: UPDATE
                          key: usDriverInspectionsOos
                          value: 4
                          oldValue: 5
                        - type: UPDATE
                          key: usDriverInspectionsOosPct
                          value: 3.64
                          oldValue: 5
                        - type: UPDATE
                          key: usVehicleInspections
                          value: 165
                          oldValue: 150
                        - type: UPDATE
                          key: usVehicleInspectionsOos
                          value: 7
                          oldValue: 8
                        - type: UPDATE
                          key: usVehicleInspectionsOosPct
                          value: 4.24
                          oldValue: 5.33
              carrier_deleted:
                summary: Carrier deleted
                value:
                  sentAt: '2025-01-15T11:00:05Z'
                  events:
                    - event: CARRIER_DELETED
                      timestamp: '2025-01-15T11:00:00Z'
                      data:
                        id: 770e8400-e29b-41d4-a716-446655440000
                      diff: null
              carrier_contact_created:
                summary: Carrier contact created
                value:
                  sentAt: '2025-01-15T12:00:05Z'
                  events:
                    - event: CARRIER_CONTACT_CREATED
                      timestamp: '2025-01-15T12:00:00Z'
                      data:
                        id: 880e8400-e29b-41d4-a716-446655440001
                        carrier:
                          id: 770e8400-e29b-41d4-a716-446655440000
                          name: Fast Transport LLC
                          friendlyId: C123456
                        name: Mike Johnson
                        contactInfo:
                          name: Mike Johnson
                          email: mike@fasttransport.com
                          phone: +1-555-0300
                          title: Dispatch Manager
                        contactType: DISPATCH
                        key: ERP-CARRIER-CONTACT-001
                        createdAt: '2025-01-15T12:00:00Z'
                        deletedAt: null
                      diff: null
              carrier_factor_created:
                summary: Carrier factor created
                value:
                  sentAt: '2025-01-15T13:00:05Z'
                  events:
                    - event: CARRIER_FACTOR_CREATED
                      timestamp: '2025-01-15T13:00:00Z'
                      data:
                        id: 550e8400-e29b-41d4-a716-446655440010
                        companyName: Capital Factoring Services Inc
                        key: ERP-FACTOR-001
                        email: accounting@capitalfactoring.com
                        phoneNumber: +1-555-234-5678
                        addressLine1: 789 Finance Ave
                        city: Dallas
                        state: TX
                        country: USA
                        zipCode: '75201'
                        bankName: Chase Bank
                        accountName: Capital Factoring Services Inc
                        currency: USD
                        createdAt: '2025-01-15T13:00:00Z'
                        updatedAt: '2025-01-15T13:00:00Z'
                        deletedAt: null
                      diff: null
              carrier_payment_method_created:
                summary: Carrier payment method created
                value:
                  sentAt: '2025-01-15T14:00:05Z'
                  events:
                    - event: CARRIER_PAYMENT_METHOD_CREATED
                      timestamp: '2025-01-15T14:00:00Z'
                      data:
                        id: 990e8400-e29b-41d4-a716-446655440020
                        carrierId: 770e8400-e29b-41d4-a716-446655440000
                        carrier:
                          id: 770e8400-e29b-41d4-a716-446655440000
                          name: Fast Transport LLC
                          friendlyId: C123456
                        paymentRecipientType: DIRECT
                        paymentMethodType: ACH
                        isPreferred: true
                        bankName: Chase Bank
                        accountName: Fast Transport LLC
                        accountNumber: '****1234'
                        abaAch: '021000021'
                        currency: USD
                        carrierFactor: null
                        createdAt: '2025-01-15T14:00:00Z'
                        updatedAt: '2025-01-15T14:00:00Z'
                        deletedAt: null
                      diff: null
              carrier_payment_method_updated:
                summary: Carrier payment method updated
                value:
                  sentAt: '2025-01-15T15:00:05Z'
                  events:
                    - event: CARRIER_PAYMENT_METHOD_UPDATED
                      timestamp: '2025-01-15T15:00:00Z'
                      data:
                        id: 990e8400-e29b-41d4-a716-446655440020
                        carrierId: 770e8400-e29b-41d4-a716-446655440000
                        carrier:
                          id: 770e8400-e29b-41d4-a716-446655440000
                          name: Fast Transport LLC
                          friendlyId: C123456
                        paymentRecipientType: FACTOR
                        paymentMethodType: ACH_WIRE
                        isPreferred: false
                        bankName: null
                        accountName: null
                        accountNumber: null
                        abaAch: null
                        currency: USD
                        carrierFactor:
                          id: 550e8400-e29b-41d4-a716-446655440010
                          key: ERP-FACTOR-001
                          companyName: Capital Factoring Services Inc
                          email: accounting@capitalfactoring.com
                          phoneNumber: +1-555-234-5678
                          currency: USD
                          createdAt: '2025-01-15T13:00:00Z'
                          updatedAt: '2025-01-15T13:00:00Z'
                        createdAt: '2025-01-15T14:00:00Z'
                        updatedAt: '2025-01-15T15:00:00Z'
                        deletedAt: null
                      diff:
                        - type: UPDATE
                          key: paymentRecipientType
                          value: FACTOR
                          oldValue: DIRECT
                        - type: UPDATE
                          key: paymentMethodType
                          value: ACH_WIRE
                          oldValue: ACH
                        - type: UPDATE
                          key: isPreferred
                          value: false
                          oldValue: true
                        - type: ADD
                          key: carrierFactor
                          value:
                            id: 550e8400-e29b-41d4-a716-446655440010
                            companyName: Capital Factoring Services Inc
                        - type: REMOVE
                          key: bankName
                          oldValue: Chase Bank
                        - type: REMOVE
                          key: accountName
                          oldValue: Fast Transport LLC
                        - type: REMOVE
                          key: accountNumber
                          oldValue: '****1234'
                        - type: REMOVE
                          key: abaAch
                          oldValue: '021000021'
              vendor_payment_method_created:
                summary: Vendor payment method created
                value:
                  sentAt: '2025-01-15T16:00:05Z'
                  events:
                    - event: VENDOR_PAYMENT_METHOD_CREATED
                      timestamp: '2025-01-15T16:00:00Z'
                      data:
                        id: 330e8400-e29b-41d4-a716-446655440030
                        vendorId: 550e8400-e29b-41d4-a716-446655440000
                        vendor:
                          id: 550e8400-e29b-41d4-a716-446655440000
                          name: ABC Warehouse Services
                          friendlyId: V123456
                        paymentMethodType: ACH
                        isPreferred: true
                        bankName: Bank of America
                        accountName: ABC Warehouse Services
                        accountNumber: '****5678'
                        abaAch: '026009593'
                        currency: USD
                        createdAt: '2025-01-15T16:00:00Z'
                        updatedAt: '2025-01-15T16:00:00Z'
                        deletedAt: null
                      diff: null
              shipment_delivered:
                summary: Shipment delivered
                value:
                  sentAt: '2025-01-15T18:30:05Z'
                  events:
                    - event: SHIPMENT_DELIVERED
                      timestamp: '2025-01-15T18:30:00Z'
                      data:
                        id: 660e8400-e29b-41d4-a716-446655440000
                        friendlyId: SHP-12345
                        key: ERP-SHIP-789
                      diff: null
      responses:
        '200':
          description: Webhook received and processed successfully
        '401':
          description: Invalid or missing x-api-key header
paths:
  /companies/filter:
    post:
      tags:
        - Companies
      summary: Filter companies
      description: >
        Query companies using flexible filter criteria with AND/OR logic.


        By default, only non-deleted companies are returned (deletedAt: {
        isNull: true }).

        Override this by explicitly setting deletedAt filter criteria.
      operationId: filterCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyFilterRequest'
      responses:
        '200':
          description: Filtered companies with pagination
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pageInfo
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  pageInfo:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /companies:
    post:
      tags:
        - Companies
      summary: Create a new company
      description: Create a new company within an organization
      operationId: createCompany
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInput'
      responses:
        '201':
          description: Company created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/{id}:
    get:
      tags:
        - Companies
      summary: Get a company by ID
      description: Retrieve a single company by its unique identifier
      operationId: getCompanyById
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '200':
          description: Company found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Companies
      summary: Update a company
      description: |
        Partially update a company. Only provided fields will be updated.

        - **Omitted fields**: Not modified (current value preserved)
        - **Provided fields**: Updated to the new value
        - **Null values**: Clear the field (set to null) where applicable
      operationId: updateCompany
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyPatch'
      responses:
        '200':
          description: Company updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Companies
      summary: Delete a company
      description: >
        Soft delete a company (sets deletedAt timestamp).


        The company will no longer appear in default queries but can be
        retrieved

        by explicitly filtering for deleted records.
      operationId: deleteCompany
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '204':
          description: Company deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carrier-contacts/filter:
    post:
      tags:
        - Carrier Contacts
      summary: Filter carrier contacts
      description: >
        Query carrier contacts using flexible filter criteria with AND/OR logic.


        By default, only non-deleted carrier contacts are returned (deletedAt: {
        isNull: true }).

        Override this by explicitly setting deletedAt filter criteria.
      operationId: filterCarrierContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierContactFilterRequest'
      responses:
        '200':
          description: Filtered carrier contacts with pagination
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pageInfo
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CarrierContact'
                  pageInfo:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carrier-contacts:
    post:
      tags:
        - Carrier Contacts
      summary: Create carrier contact
      description: >
        Create a new carrier contact. The contactInfo will create a new Contact
        record,

        and the CarrierContact will reference it via contactId (managed
        internally).
      operationId: createCarrierContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierContactInput'
      responses:
        '201':
          description: Carrier contact created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carrier-contacts/{id}:
    get:
      tags:
        - Carrier Contacts
      summary: Get carrier contact
      description: Retrieve a single carrier contact by its unique identifier
      operationId: getCarrierContactById
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '200':
          description: Carrier contact found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Carrier Contacts
      summary: Update carrier contact
      description: >
        Partially update a carrier contact. Only provided fields will be
        updated.


        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable


        When updating contactInfo, the underlying Contact record is updated.
      operationId: updateCarrierContact
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierContactPatch'
      responses:
        '200':
          description: Carrier contact updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Carrier Contacts
      summary: Delete carrier contact
      description: >
        Soft delete a carrier contact (sets deletedAt timestamp).


        The contact will no longer appear in default queries but can be
        retrieved

        by explicitly filtering for deleted records.
      operationId: deleteCarrierContact
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '204':
          description: Carrier contact deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carriers/filter:
    post:
      tags:
        - Carriers
      summary: Filter carriers
      description: >
        Query carriers using flexible filter criteria with AND/OR logic.


        By default, only non-deleted carriers are returned (deletedAt: { isNull:
        true }).

        Override this by explicitly setting deletedAt filter criteria.


        Returns carriers of all types (TRUCKLOAD, AIR, CARTAGE, LINEHAUL, LTL,
        OCEAN, RAIL)

        with type-specific fields included based on carrier type.
      operationId: filterCarriers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierFilterRequest'
      responses:
        '200':
          description: Filtered carriers with pagination
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pageInfo
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Carrier'
                  pageInfo:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carriers:
    post:
      tags:
        - Carriers
      summary: Create a new carrier
      description: >
        Create a new carrier within an organization.


        The carrier type must be specified and determines which fields are
        available:

        - **TRUCKLOAD**: Includes insurance, safety rating, and FMCSA inspection
        fields

        - **AIR, CARTAGE, LINEHAUL, LTL, OCEAN, RAIL**: Include only base
        carrier fields


        Note: In the backend, null carrier type is represented as TRUCKLOAD in
        the public API.
      operationId: createCarrier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierInput'
            examples:
              truckload:
                summary: Truckload carrier with insurance
                value:
                  name: Swift Transportation Co
                  type: TRUCKLOAD
                  email: dispatch@swifttrans.com
                  phone: +1-555-987-6543
                  status: ACTIVE
                  mcNumber: MC-123456
                  dotNumber: '1234567'
                  insuranceCompany: State Farm Insurance
                  insuranceAutoLiabilityLimit: 1000000
                  rating: SATISFACTORY
                  inFmcsa: true
              air:
                summary: Air carrier
                value:
                  name: FedEx Express
                  type: AIR
                  email: cargo@fedex.com
                  phone: +1-555-123-4567
                  status: ACTIVE
                  iataCode: FX
              ltl:
                summary: LTL carrier
                value:
                  name: XPO Logistics
                  type: LTL
                  email: dispatch@xpo.com
                  phone: +1-555-456-7890
                  status: ACTIVE
                  scac: XPOL
      responses:
        '201':
          description: Carrier created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carrier'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carriers/{id}:
    get:
      tags:
        - Carriers
      summary: Get a carrier by ID
      description: >
        Retrieve a single carrier by its unique identifier.


        The response will include type-specific fields based on the carrier's
        type:

        - **TRUCKLOAD**: Includes insurance, safety rating, and FMCSA inspection
        fields

        - **AIR, CARTAGE, LINEHAUL, LTL, OCEAN, RAIL**: Include only base
        carrier fields
      operationId: getCarrierById
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '200':
          description: Carrier found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carrier'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Carriers
      summary: Update a carrier
      description: >
        Partially update a carrier. Only provided fields will be updated.


        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable


        The carrier type determines which fields can be updated:

        - **TRUCKLOAD**: Can update insurance, safety rating, and FMCSA fields

        - **AIR, CARTAGE, LINEHAUL, LTL, OCEAN, RAIL**: Can only update base
        carrier fields


        Changing the carrier type will affect which specialized fields are
        available.
      operationId: updateCarrier
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierPatch'
      responses:
        '200':
          description: Carrier updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carrier'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Carriers
      summary: Delete a carrier
      description: >
        Soft delete a carrier (sets deletedAt timestamp).


        The carrier will no longer appear in default queries but can be
        retrieved

        by explicitly filtering for deleted records.
      operationId: deleteCarrier
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '204':
          description: Carrier deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carriers/search:
    post:
      summary: Search carriers
      description: >
        Search carriers using OpenSearch-powered full-text and field-specific
        search.


        This endpoint searches both:

        - **ONBOARDED carriers**: Carriers with profiles in your organization

        - **FMCSA carriers**: Public carrier records from FMCSA database


        Features:

        - Full-text search across multiple fields

        - Field-specific filtering with various operators

        - Sorting and pagination

        - Saved search preferences


        **Note:** Only active (non-deleted) carriers are searchable.
        Soft-deleted records are automatically excluded from all search results.


        **Response Formats:**

        - `flat` (default): Returns indexed fields only for faster performance

        - `full`: Returns complete carrier objects with all relationships
      operationId: searchCarriers
      tags:
        - Carriers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierSearchRequest'
      responses:
        '200':
          description: Successful search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /carrier-factors/filter:
    post:
      tags:
        - Carrier Factors
      summary: Filter carrier factors
      description: >
        Query carrier factors (factoring companies) using flexible filter
        criteria with AND/OR logic.


        By default, only non-deleted carrier factors are returned (deletedAt: {
        isNull: true }).

        Override this by explicitly setting deletedAt filter criteria.


        Carrier factors represent factoring companies that provide payment
        services for carriers.
      operationId: filterCarrierFactors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierFactorFilterRequest'
      responses:
        '200':
          description: Filtered carrier factors with pagination
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pageInfo
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CarrierFactor'
                  pageInfo:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carrier-factors:
    post:
      tags:
        - Carrier Factors
      summary: Create carrier factor
      description: >
        Create a new carrier factor (factoring company).


        Factoring companies provide payment services for carriers, allowing them
        to receive

        immediate payment for invoices.
      operationId: createCarrierFactor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierFactorInput'
            examples:
              basic:
                summary: Basic carrier factor
                value:
                  companyName: Capital Factoring Services Inc
                  email: accounting@capitalfactoring.com
                  phoneNumber: +1-555-234-5678
                  addressLine1: 789 Finance Ave
                  city: Dallas
                  state: TX
                  country: USA
                  zipCode: '75201'
              withBanking:
                summary: Carrier factor with banking details
                value:
                  companyName: Capital Factoring Services Inc
                  email: accounting@capitalfactoring.com
                  phoneNumber: +1-555-234-5678
                  addressLine1: 789 Finance Ave
                  city: Dallas
                  state: TX
                  country: USA
                  zipCode: '75201'
                  bankName: Chase Bank
                  accountName: Capital Factoring Services Inc
                  accountNumber: '1234567890'
                  abaAch: '021000021'
                  swiftCode: CHASUS33
                  currency: USD
      responses:
        '201':
          description: Carrier factor created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierFactor'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carrier-factors/{id}:
    get:
      tags:
        - Carrier Factors
      summary: Get carrier factor
      description: >
        Retrieve a single carrier factor by its unique identifier.


        Carrier factors represent factoring companies that provide payment
        services.
      operationId: getCarrierFactorById
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '200':
          description: Carrier factor found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierFactor'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Carrier Factors
      summary: Update carrier factor
      description: |
        Partially update a carrier factor. Only provided fields will be updated.

        - **Omitted fields**: Not modified (current value preserved)
        - **Provided fields**: Updated to the new value
        - **Null values**: Clear the field (set to null) where applicable
      operationId: updateCarrierFactor
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierFactorPatch'
            examples:
              updateContact:
                summary: Update contact information
                value:
                  email: newemail@capitalfactoring.com
                  phoneNumber: +1-555-999-8888
              updateBanking:
                summary: Update banking details
                value:
                  bankName: Bank of America
                  accountNumber: '9876543210'
                  abaAch: '026009593'
      responses:
        '200':
          description: Carrier factor updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierFactor'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Carrier Factors
      summary: Delete carrier factor
      description: >
        Soft delete a carrier factor (sets deletedAt timestamp).


        The carrier factor will no longer appear in default queries but can be
        retrieved

        by explicitly filtering for deleted records.
      operationId: deleteCarrierFactor
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '204':
          description: Carrier factor deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carrier-payment-methods/filter:
    post:
      tags:
        - Carrier Payment Methods
      summary: Filter carrier payment methods
      description: >
        Query carrier payment methods using flexible filter criteria with AND/OR
        logic.


        By default, only non-deleted payment methods are returned (deletedAt: {
        isNull: true }).

        Override this by explicitly setting deletedAt filter criteria.


        Carrier payment methods define how and where payments are sent for a
        specific carrier.
      operationId: filterCarrierPaymentMethods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierPaymentMethodFilterRequest'
      responses:
        '200':
          description: Filtered carrier payment methods with pagination
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pageInfo
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CarrierPaymentMethod'
                  pageInfo:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carrier-payment-methods:
    post:
      tags:
        - Carrier Payment Methods
      summary: Create carrier payment method
      description: >
        Create a new carrier payment method.


        **Payment Recipient Type Constraints:**

        - **DIRECT**: Payment goes to carrier directly. `carrierFactorId` must
        be null or omitted.

        - **FACTOR**: Payment goes to factoring company. `carrierFactorId` is
        required.


        **Important**: The `carrierId` cannot be changed after creation.
      operationId: createCarrierPaymentMethod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierPaymentMethodInput'
            examples:
              directPayment:
                summary: Direct ACH payment to carrier
                value:
                  carrierId: 770e8400-e29b-41d4-a716-446655440000
                  paymentRecipientType: DIRECT
                  paymentMethodType: ACH
                  isPreferred: true
                  bankName: Chase Bank
                  accountName: Carrier Transport Inc
                  accountNumber: '1234567890'
                  abaAch: '021000021'
                  currency: USD
              factorPayment:
                summary: Payment through factoring company
                value:
                  carrierId: 770e8400-e29b-41d4-a716-446655440000
                  paymentRecipientType: FACTOR
                  paymentMethodType: ACH_WIRE
                  carrierFactorId: 550e8400-e29b-41d4-a716-446655440000
                  isPreferred: false
              zelle:
                summary: Zelle payment
                value:
                  carrierId: 770e8400-e29b-41d4-a716-446655440000
                  paymentRecipientType: DIRECT
                  paymentMethodType: ZELLE
                  email: payments@carrier.com
                  phone: +1-555-123-4567
                  username: carrier_payments
      responses:
        '201':
          description: Carrier payment method created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierPaymentMethod'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /carrier-payment-methods/{id}:
    get:
      tags:
        - Carrier Payment Methods
      summary: Get carrier payment method
      description: >
        Retrieve a single carrier payment method by its unique identifier.


        Returns full details including banking information and associated
        carrier/factor references.
      operationId: getCarrierPaymentMethodById
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '200':
          description: Carrier payment method found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierPaymentMethod'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Carrier Payment Methods
      summary: Update carrier payment method
      description: >
        Partially update a carrier payment method. Only provided fields will be
        updated.


        **IMPORTANT**: The `carrierId` field cannot be changed after creation.


        **Payment Recipient Type Constraints:**

        - When changing to **DIRECT**: `carrierFactorId` must be set to null

        - When changing to **FACTOR**: `carrierFactorId` is required


        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable
      operationId: updateCarrierPaymentMethod
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierPaymentMethodPatch'
            examples:
              updateBanking:
                summary: Update banking details
                value:
                  bankName: Bank of America
                  accountNumber: '9876543210'
                  abaAch: '026009593'
              changeToFactor:
                summary: Change from direct to factor payment
                value:
                  paymentRecipientType: FACTOR
                  carrierFactorId: 550e8400-e29b-41d4-a716-446655440000
              makePreferred:
                summary: Set as preferred payment method
                value:
                  isPreferred: true
      responses:
        '200':
          description: Carrier payment method updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierPaymentMethod'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Carrier Payment Methods
      summary: Delete carrier payment method
      description: >
        Soft delete a carrier payment method (sets deletedAt timestamp).


        The payment method will no longer appear in default queries but can be
        retrieved

        by explicitly filtering for deleted records.
      operationId: deleteCarrierPaymentMethod
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '204':
          description: Carrier payment method deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customer-contacts/filter:
    post:
      tags:
        - Customer Contacts
      summary: Filter customer contacts
      description: >
        Query customer contacts using flexible filter criteria with AND/OR
        logic.


        By default, only non-deleted customer contacts are returned (deletedAt:
        { isNull: true }).

        Override this by explicitly setting deletedAt filter criteria.
      operationId: filterCustomerContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerContactFilterRequest'
      responses:
        '200':
          description: Filtered customer contacts with pagination
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pageInfo
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerContact'
                  pageInfo:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customer-contacts:
    post:
      tags:
        - Customer Contacts
      summary: Create customer contact
      description: >
        Create a new customer contact. The contactInfo will create a new Contact
        record,

        and the CustomerContact will reference it via parentContactId (managed
        internally).
      operationId: createCustomerContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerContactInput'
      responses:
        '201':
          description: Customer contact created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customer-contacts/{id}:
    get:
      tags:
        - Customer Contacts
      summary: Get customer contact
      description: Retrieve a single customer contact by its unique identifier
      operationId: getCustomerContactById
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '200':
          description: Customer contact found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Customer Contacts
      summary: Update customer contact
      description: >
        Partially update a customer contact. Only provided fields will be
        updated.


        - **Omitted fields**: Not modified (current value preserved)

        - **Provided fields**: Updated to the new value

        - **Null values**: Clear the field (set to null) where applicable


        When updating contactInfo, the underlying Contact record is updated.
      operationId: updateCustomerContact
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerContactPatch'
      responses:
        '200':
          description: Customer contact updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContact'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Customer Contacts
      summary: Delete customer contact
      description: >
        Soft delete a customer contact (sets deletedAt timestamp).


        The contact will no longer appear in default queries but can be
        retrieved

        by explicitly filtering for deleted records.
      operationId: deleteCustomerContact
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
      responses:
        '204':
          description: Customer contact deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customers/filter:
    post:
      summary: Filter customers
      description: >
        Filter customers using comprehensive query criteria with AND/OR logic
        and multiple operators.

        Supports complex filtering similar to GraphQL capabilities.

        Note: Soft-deleted customers are excluded by default (deletedAt defaults
        to { isNull: true }).
      operationId: filterCustomers
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerFilterRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-parsed-md-description:
        result:
          - $$mdtype: Node
            errors: []
            lines:
              - 0
              - 3
            inline: false
            attributes: {}
            children:
              - $$mdtype: Node
                errors: []
                lines:
                  - 0
                  - 3
                inline: false
                attributes: {}
                children:
                  - $$mdtype: Node
                    errors: []
                    lines:
                      - 0
                      - 3
                    inline: true
                    attributes:
                      content: >-
                        Filter customers using comprehensive query criteria with
                        AND/OR logic and multiple operators.
                    children: []
                    type: text
                    annotations: []
                    slots: {}
                  - $$mdtype: Node
                    errors: []
                    lines:
                      - 0
                      - 3
                    inline: true
                    attributes: {}
                    children: []
                    type: softbreak
                    annotations: []
                    slots: {}
                  - $$mdtype: Node
                    errors: []
                    lines:
                      - 0
                      - 3
                    inline: true
                    attributes:
                      content: >-
                        Supports complex filtering similar to GraphQL
                        capabilities.
                    children: []
                    type: text
                    annotations: []
                    slots: {}
                  - $$mdtype: Node
                    errors: []
                    lines:
                      - 0
                      - 3
                    inline: true
                    attributes: {}
                    children: []
                    type: softbreak
                    annotations: []
                    slots: {}
                  - $$mdtype: Node
                    errors: []
                    lines:
                      - 0
                      - 3
                    inline: true
                    attributes:
                      content: >-
                        Note: Soft-deleted customers are excluded by default
                        (deletedAt defaults to { isNull: true }).
                    children: []
                    type: text
                    annotations: []
                    slots: {}
                type: inline
                annotations: []
                slots: {}
            type: paragraph
            annotations: []
            slots: {}
  /customers:
    post:
      summary: Create customer
      description: Create a new customer in your organization
      operationId: createCustomer
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /customers/{id}:
    get:
      summary: Get customer
      description: Retrieve a customer by ID or client key
      operationId: getCustomer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
        - $ref: '#/components/parameters/LookupBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    patch:
      summary: Update customer
      description: Partially update a customer. Only provided fields will be updated.
      operationId: updateCustomer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
        - $ref: '#/components/parameters/LookupBy'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPatch'
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    delete:
      summary: Delete customer
      description: Soft delete a customer (sets deletedAt timestamp)
      operationId: deleteCustomer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/IdOrClientKey'
        - $ref: '#/components/parameters/LookupBy'
      responses:
        '204':
          description: Customer deleted successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /customers/search:
    post:
      summary: Search customers
      description: >
        Search customers using OpenSearch-powered full-text and field-specific
        search.


        This endpoint provides fast, indexed search across customer data with
        support for:

        - Full-text search across multiple fields

        - Field-specific filtering with various operators

        - Sorting and pagination

        - Saved search preferences


        **Note:** Only active (non-deleted) customers are searchable.
        Soft-deleted records are automatically excluded from all search results.


        **Response Formats:**

        - `flat` (default): Returns indexed fields only for faster performance

        - `full`: Returns complete customer objects with all relationships
      operationId: searchCustomers
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSearchRequest'
      responses:
        '200':
          description: Successful search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /locations/filter:
    post:
      tags:
        - Locations
      summary: Filter locations
      description: >
        Query locations using flexible filter criteria with AND/OR logic.


        By default, only non-deleted locations are returned (deletedAt: {
        isNull: true }).

        Override this by explicitly setting deletedAt filter criteria.
      operationId: filterLocations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationFilterRequest'
      responses:
        '200':
          description: Filtered locations with pagination
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pageInfo
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
                  pageInfo:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /locations:
    post:
      tags:
        - Locations
      summary: Create a new location
      description: >
        Create a new location for a customer.


        Locations represent pickup or delivery points (warehouses, distribution
        centers, etc.).
      operationId: createLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
[...]
